<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <%include include/head_res.html %>
    <link rel="stylesheet" href="/css/baseStyle.css" type="text/css"/>
</head>
<body>
<%include include/top_nav.html %>

<div class="features-tabs-section" style="margin-top: 50px;">
    <div class="container">


        <div class="tabs-wrapper">
            <ul class="nav nav-tabs justify-content-left" id="feature-tabs">
                <li>
                    <a href="#home" class="active" data-toggle="tab">关于我们</a>
                </li>
                <li>
                    <a href="#profile" data-toggle="tab">联系我们</a>
                </li>
            </ul>

            <div class="tab-content" style="height: auto">
                <div class="tab-pane fade show active" id="home" style="height: auto">
                    <div class="row" style="height: auto">
                        <div class="col-lg-12 order-lg-1 info" style="height: auto">
                            <div class="col-md-12 text-center">
                                <img src="images/app365/about01.jpg" class="img-fluid" alt="feature1" />
                            </div>
                            <div class="col-md-12 feature" style="margin-top:50px">
                                <p class="text-left">APP365是一家快速成长的高科技公司，致力于云计算产品、在线物流管理平台和物流交易平台的研发，以SaaS模式为中小物流企业提供专业的物流信息服务，是国内最成熟的SaaS物流信息系统服务提供商，截至目前有五千多家企业在使用我们的SaaS 服务。</p>
                                <p class="text-left">App365具有为各种类型物流企业信息化建设的丰富经验，能够为第三方物流、仓储物流、综合快运、货运专线、快递管理、加盟平台等各种类型提供完整的在线信息化解决方案。</p>
                                <p class="text-left">APP365所提供的SaaS服务，代表了未来软件发展的趋势，大大降低了物流企业实现信息化的门槛，用户无需在本地安装软件、无需购买专门的服务器硬件、无需专业的IT人员进行维护，只要打开浏览器，登录APP365网站，即可轻松注册和使用APP365在线物流软件。我们APP365的目标是为物流行业提供灵活适用的物流业务管理系统和在线服务平台，从而提升用户在科学化、信息化、自动化等方面的管理水平，使用户以最小的投资获得最大的回报。</p>
                            </div>
                        </div>
                    </div>
                    <br/><br/><hr/>
                </div>

                <div class="tab-pane fade " id="profile" style="height: auto">
                    <div class="row" style="height: auto">
                        <div class="col-lg-12 order-lg-1 info" style="height: auto">

                            <div class="contact-map">
                                <div class="contact-map-cont">
                                    <div class="company-pos">
                                        <div class="pos-sz">深圳公司</div>
                                        <div class="pos-nj">上海公司</div>
                                    </div>
                                    <div class="company-addr">
                                        <div class="addr-sz">
                                            深圳公司：<br />
                                            深圳市 宝安区 西乡街道海城路235号 泰逸大厦F5-008<br />
                                            <a class="btn btn-default btn-sm" style="background: white;color: #28a745" href="http://map.baidu.com/?shareurl=1&amp;poiShareUid=593850fbeceebd20de1e528e" target="_blank">打开地图</a>
                                        </div>
                                        <div class="addr-nj">
                                            上海公司：<br />
                                            上海市 浦东新区 外高桥自贸区美盛路55号中航材大厦405室<br />
                                            <a class="btn btn-default btn-sm" style="background: white;color: #28a745" href="http://j.map.baidu.com/IxeeB" target="_blank">打开地图</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="features-grid-section">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4 feature">
                                            <h4 style="color: #28a745">产品咨询</h4>
                                            <p>免费热线：400-7566-365</p>
                                            <p>联系电话：0755-23733656</p>
                                            <p>邮箱：zixun@app365.com</p>
                                            <p>QQ：2066805631/ 505574082</p>
                                        </div>
                                        <div class="col-md-4 feature">
                                            <h4 style="color: #28a745">服务售后</h4>
                                            <p>免费热线：400-7566-365</p>
                                            <p>联系电话：0755-29169423</p>
                                            <p>邮箱：ljh@app365.com</p>
                                            <p>QQ：981472612/ 505574082</p>
                                        </div>
                                        <div class="col-md-4 feature">
                                            <h4 style="color: #28a745">投诉电话</h4>
                                            <p>18676764676</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/><br/><hr/>
                </div>
            </div>
        </div>
    </div>
</div>
<%include include/footer.html %>
</body>
</html>