<!DOCTYPE html>
<head>
    <title>手机应用页</title>
    <%include include/head_res.html %>
    <link rel="stylesheet" href="/css/baseStyle.css" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
</head>
<body>
<%include include/top_nav.html %>

<div class="features-tabs-section">
    <div class="container">
        <div id="ems" class="testimonials-section" style="height: auto">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonial">
                            <div class="author">
                                <img src="/images/app365/ems_logo.png" class="pic" alt="testimonial2" />
                                <div class="name text-left" style="color: #4a4a4a;font-weight: bold;font-size: 20px;margin-bottom: 8px">聚物流 站点版</div>
                                <div class="company text-left" style="color: #4a4a4a;font-size: 15px">适用于外勤操作人员</div>
                            </div>
                        </div>
                        <div class="company text-left" style="color: #4a4a4a;font-size: 15px">
                            实现移动办公，与后台系统配合使用效果更佳，有助于提升物流公司的管理水平，提高工作效率，降低运营成本
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: auto;margin-top:30px;margin-bottom: 50px" >
            <div class="container">
                <div class="feature">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info">
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>根据用户角色设置不同的操作功能
                                </p>
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>手机录单、查单、接单、揽货、派送
                                </p>
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>消息实时推送至手机
                                </p>
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>手机端实现运单跟踪
                                </p>
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>在手机端进行业绩、问题件等各种查询
                                </p>
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>支持货物收发过程各环节的手机扫描
                                </p>
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>支持拍照上传图片
                                </p>
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>支持运单和标签的多种模版调用及打印
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <img style="margin-top: 30px" src="/images/app365/ems_info.png" class="img-fluid" alt="feature1" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="margin-top: 30px;margin-left: 20px">
                    <a href="http://res.app365.com/downloads/android56-ems.apk" class="btn btn-success" role="button">下载站点版APP</a>
                    <a tabindex="0" class="btn-qrcode" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" title="扫描二维码下载" data-content="<img src='/images/app365/ems_barcode.jpg'>"><img src="/images/app365/barcode.png"></a>
                </div>
                <div class="divider"></div>
            </div>
        </div>
        <hr>
        <div  id="driver" class="testimonials-section" style="height: auto">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="testimonial">
                            <div class="author">
                                <img src="/images/app365/driver_logo.png" class="pic" alt="testimonial2" />
                                <div class="name text-left" style="color: #4a4a4a;font-weight: bold;font-size: 20px;margin-bottom: 8px">聚物流司机版</div>
                                <div class="company text-left" style="color: #4a4a4a;font-size: 15px">适用于司机</div>
                            </div>
                        </div>
                        <div class="company  text-left" style="color: #4a4a4a;font-size: 15px">有助于提高接货效率，减轻工作量，加强货物管理</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: auto;margin-top:30px;margin-bottom: 50px">
            <div class="container">
                <div class="feature">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info">
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>手机找货，手机接单
                                </p>
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>发布运力，招揽客源
                                </p>
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>客户管理，任务追踪
                                </p>
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>接收通知，及时更新
                                </p>
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>状态提报，异常反馈
                                </p>
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>GPS定位，地图导航
                                </p>
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>电子回单，实时签收
                                </p>
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>费用登记，收入查询
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <img style="margin-top: 30px" src="/images/app365/driver_info.png" class="img-fluid" alt="feature1" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="margin-top: 30px;margin-left: 20px">
                    <a href="http://res.app365.com/downloads/android56-driver.apk" class="btn btn-success" role="button">下载司机版APP</a>
                    <a tabindex="0" class="btn-qrcode" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" title="扫描二维码下载" data-content="<img src='/images/app365/driver_barcode.jpg'>"><img src="/images/app365/barcode.png"></a></div>
                <div class="divider"></div>
            </div>
        </div><hr>

        <div id="cust" class="testimonials-section" style="height: auto">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="testimonial">
                            <div class="author">
                                <img src="/images/app365/cust_logo.png" class="pic" alt="testimonial2" />
                                <div class="name text-left" style="color: #4a4a4a;font-weight: bold;font-size: 20px;margin-bottom: 8px">聚物流客户版</div>
                                <div class="company text-left" style="color: #4a4a4a;font-size: 15px">适用于货主客户或三方物流</div>
                            </div>
                        </div>
                        <div class="company text-left" style="color: #4a4a4a;font-size: 15px">有助于加强运输管理，降低物流成本</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: auto;margin-top: 30px;margin-bottom: 50px">
            <div class="container">
                <div class="feature">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info">
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>发布货源，搜索运力
                                </p>
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>手机在线下单
                                </p>
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>运单跟踪，实时定位
                                </p>
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>手机确认收发货
                                </p>
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>网点、价格查询
                                </p>
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>订单统计查询
                                </p>
                                <p class="text-left">
                                    <i class="fa fa-check-circle-o"></i>评价服务水平
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <img style="margin-top: 30px" src="/images/app365/cust_info.png" class="img-fluid" alt="feature1" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="margin-top: 30px;margin-left: 20px">
                    <a href="http://res.app365.com/downloads/android56-cust.apk" class="btn btn-success" role="button">下载客户版APP</a>
                    <a tabindex="0" class="btn-qrcode" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" title="扫描二维码下载" data-content="<img src='/images/app365/cust_barcode.jpg'>"><img src="/images/app365/barcode.png"></a>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>

<%include include/footer.html %>
<script>

    window.onload=function () {
        var ur =location.href;
        var str=ur.substring(ur.length-1,ur.length);

        $("#head_profile").removeClass("active");
        $("#head_home").removeClass("active");
        $("#head_message").removeClass("active");
        $("#home").removeClass("tab-pane fade show active").addClass("tab-pane fade");
        $("#profile").removeClass("tab-pane fade show active").addClass("tab-pane fade");
        $("#messages").removeClass("tab-pane fade show active").addClass("tab-pane fade");

        if(str=="1"){
            $("#head_home").addClass("active");
            $("#home").addClass("show active");
        }
        if(str=="2"){
            $("#head_profile").addClass("active");
            $("#profile").addClass("show active");
        }
        if(str=="3"){
            $("#head_message").addClass("active");
            $("#messages").addClass("show active");
        }
    }

    function clickTab(type) {
        $("#head_home").removeClass("active");
        $("#head_profile").removeClass("active");
        $("#head_message").removeClass("active");
        $("#home").removeClass("tab-pane fade show active").addClass("tab-pane fade");
        $("#profile").removeClass("tab-pane fade show active").addClass("tab-pane fade");
        $("#messages").removeClass("tab-pane fade show active").addClass("tab-pane fade");
        if(type=="1"){
            $("#head_home").addClass("active");
            $("#home").addClass("show active");
        }
        if(type=="2"){
            $("#head_profile").addClass("active");
            $("#profile").addClass("show active");
        }
        if(type=="3"){
            $("#head_message").addClass("active");
            $("#messages").addClass("show active");
        }
    }


    $('.btn-qrcode').popover({
        html: true
    });
    var i=0;
    $('#suvNav a[href^="#"]').on('click', function(e) {
        e.preventDefault();
        if(i>=1) return;
        var target = this.hash;
        var $target = $(target);

        $('html, body').stop().animate({
            'scrollTop': $target.offset().top - 130
        }, 900, 'swing', function() {
            window.location.hash = target;
        });
        return;
    });
</script>

</body>
</html>