<!DOCTYPE html>
<head>
    <title>Title</title>
    <%include include/head_res.html %>
</head>
<body>
<%include include/top_nav.html %>

<div style="padding-left:10%;height:500px;padding-top:124px;background-image: url(images/app365/banner_img.jpg)">
    <h2 style="font-size:28px;color:#000;font-family: 'Adobe 黑体 Std R';font-weight:normal;">物流SaaS 时代已经到来</h2>
    <h1 style="font-size:38px;color:#309f4a;font-family:'方正兰亭特黑_GBK';">加盟APP365，做真正赚钱的渠道代理</h1>
    <p style="font-size:22px;color:#000;font-family:'黑体';">无门槛加盟，代理超低折扣，免费赠送销售平台，全方位服务支持，<br />24小时远程客服指导</p>
</div>

<div class="testimonials-section">
    <div class="container">
        <div class="features-hover-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <div style="text-align: center">
                            <h3 >加入APP365聚物流，广阔市场等你开启</h3>
                            <img src="images/app365/w_line.png">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="testimonial">
                            <div class="author">
                                <img src="images/app365/w_icon_01.png"class="pic" alt="testimonial3" />
                                <div class="name" style="color: #4a4a4a ">广阔市场</div>
                                <div class="company">800万家中小物流落地“互联网+”行动计划，面向千亿级市场规模</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="testimonial">
                            <div class="author">
                                <img src="images/app365/w_icon_02.png"class="pic" alt="testimonial2" />
                                <div class="name" style="color: #4a4a4a ">领先技术</div>
                                <div class="company">先进的云架构软件，技术精英团队每周更新产品，掌握前沿核心技术产品竞争力</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="testimonial">
                            <div class="author">
                                <img src="images/app365/w_icon_03.png"class="pic" alt="testimonial3" />
                                <div class="name" style="color: #4a4a4a ">丰富产品</div>
                                <div class="company">六大产品线涵盖物流细分行业，多种解决方案面向各行业</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="testimonial">
                            <div class="author">
                                <img src="images/app365/w_icon_04.png" class="pic" alt="testimonial2" />
                                <div class="name" style="color: #4a4a4a ">全面支持</div>
                                <div class="company">总部提供从培训到市场，从客服到技术的全面支持</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features-grid-section" style="background:#e5f5ec;padding-top:20px">
    <div class="container">
        <div class="row">
            <div class="col-md-12 " style="margin-bottom: 20px">
                <div style="text-align: center">
                    <h3>加入APP365聚物流，超乎想象的收益</h3>
                    <img src="images/app365/w_line.png">
                </div>
            </div>
            <div class="col-md-3" >
                <div style="text-align: center">
                    <img src="images/app365/w_icon_05.png"/>
                    <h5 style="margin-top: 10px">低投高产</h5>
                </div>
                <div class="feature" >
                    <p>前期最少只需要1万元，就可以建立高科技互联网公司，与APP365分享千亿云市场</p>
                </div>
            </div>
            <div class="col-md-3">
                <div style="text-align: center">
                    <img src="images/app365/w_icon_06.png"/>
                    <h5 style="margin-top: 10px">持续受益</h5>
                </div>
                <div class="feature" >
                    <p>开发一个客户，每年年费都有收益，月月有进账</p>
                </div>
            </div>
            <div class="col-md-3">
                <div style="text-align: center">
                    <img src="images/app365/w_icon_07.png"/>
                    <h5 style="margin-top: 10px">强大后台</h5>
                </div>
                <div class="feature" >
                    <p>总部后台支持，免除代理的后顾之忧</p>
                </div>
            </div>
            <div class="col-md-3">
                <div style="text-align: center">
                    <img src="images/app365/w_icon_08.png" />
                    <h5 style="margin-top: 10px">轻松营销</h5>
                </div>
                <div class="feature" >
                    <p>只要懂销售，就可以拥有一家成长型的高科技企业</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonials-section">
    <div class="container">
        <div class="features-hover-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 " style="margin-bottom: 20px;">
                        <div style="text-align: center">
                            <h3>加入APP365聚物流，强大的后台支持</h3>
                            <img src="images/app365/w_line.png">
                        </div>
                    </div>
                    <div class="col-md-4" style="background:#eff8ef;padding-top: 15px">
                        <div style="text-align: center">
                            <img src="images/app365/w_icon_09.png"/>
                        </div>
                        <h5 style="text-align: center">市场支持</h5>
                        <div class="feature" style="margin-top: 15px;font-size: 15px" >
                            <p>全年广告推广，享有海量客户资源和市场支持；</br>
                                定期组织巡回推广大会，解决伙伴营销推广需求；</br>
                                收集优秀伙伴案例，在全国范围内推广，提升伙伴知名度；</p>
                        </div>
                    </div>
                    <div class="col-md-4" style="background:#f8f8f8;padding-top: 15px" >
                        <div style="text-align: center">
                            <img src="images/app365/w_icon_10.png"/>
                        </div>
                        <h5 style="text-align: center">培训支持</h5>
                        <div class="feature" style="margin-top: 15px;font-size: 15px" >
                            <p>全方面产品功能详解、产品应用场景解析；</br>
                                总部销售总监提供经验分享、销售话术、市场建议；</br>
                                代理商到总部进行销售实战1对1专人培训；</p>
                        </div>
                    </div>
                    <div class="col-md-4"  style="background:#eff8ef;padding-top: 15px">
                        <div style="text-align: center">
                            <img src="images/app365/w_icon_11.png"/>
                        </div>
                        <h5 style="text-align: center">客服支持</h5>
                        <div class="feature" style="margin-top: 15px;font-size: 15px" >
                            7*12小时专属客服经理一对一答疑；</br>
                            解决技术后台和产品功能、问题；</br>
                            解决销售、市场运营、团队管理问题；</br>
                            第一时间掌握新功能、新产品、市场指导；</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"  style="background:#f8f8f8;padding-top: 15px">
                        <div style="text-align: center">
                            <img src="images/app365/w_icon_12.png"/>
                        </div>
                        <h5 style="text-align: center">技术支持</h5>
                        <div class="feature" style="margin-top: 15px;font-size: 15px" >
                            <p>开通代理商管理平台，轻松维护客户关系，跟踪订单进展；</br>
                                7*12小时技术支持解决问题；</br>
                                客户项目现场技术指导，帮助系统上线；</p>
                        </div>
                    </div>
                    <div class="col-md-4"  style="background:#eff8ef;padding-top: 15px">
                        <div style="text-align: center">
                            <img src="images/app365/w_icon_13.png"/>
                        </div>
                        <h5 style="text-align: center">物料支持</h5>
                        <div class="feature" style="margin-top: 15px;font-size: 15px" >
                            <p>包括但不限于产品彩页、产品手册、营销宝典、易拉宝、会议物料、产品宣传视频等。企业宣传手册、行业宣传手册、产品宣传手册</p>
                        </div>
                    </div>
                    <div class="col-md-4"  style="background:#f8f8f8;padding-top: 15px">
                        <div style="text-align: center">
                            <img src="images/app365/w_icon_14.png"/>
                        </div>
                        <h5 style="text-align: center">市场支持</h5>
                        <div class="feature" style="margin-top: 15px;font-size: 15px" >
                            <p>定期评选代理商销售冠军、亚军、季军，给予海外旅游奖励及产品赠送；</br>
                                每年评选出年度代理商销售冠军、亚军、季军，授予豪车奖励及荣誉颁奖；</br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features-grid-section" style="background:#e5f5ec;padding-top:20px">
    <div class="container">
        <div class="row" style="padding-bottom: 20px">
            <div class="col-md-12 " style="margin-bottom: 30px">
                <div style="text-align: center">
                    <h3>怎样成为APP365的代理</h3>
                    <img src="images/app365/w_line.png">
                </div>
            </div>
            <div class="col-md-3">
                <div style="text-align: center">
                    <img src="images/app365/w_icon_15.png"/>
                    <h5 style="margin-top: 10px">知悉规则</h5>
                    <h6>了解渠道代理规则</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div style="text-align: center">
                    <img src="images/app365/w_icon_16.png"/>
                    <h5 style="margin-top: 10px">签订合同</h5>
                    <h6>签订代理合同协议</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div style="text-align: center">
                    <img src="images/app365/w_icon_17.png"/>
                    <h5 style="margin-top: 10px">平台开通</h5>
                    <h6>开通设置业务平台</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div style="text-align: center">
                    <img src="images/app365/w_icon_18.png" />
                    <h5 style="margin-top: 10px">开始营业</h5>
                    <h6>正式开启产品运营</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonials-section">
    <div class="container">
        <div class="features-hover-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 " style="margin-bottom: 20px;">
                        <div style="text-align: center">
                            <h3>代理加盟政策</h3>
                            <img src="images/app365/w_line.png">
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-top: 15px">
                        <h5 style="text-align: center">加盟条件</h5>
                        <div class="feature" style="margin-top: 15px;font-size: 15px" >
                            <p>无门槛限制，拥有丰富IT技术经验或物流行业背景者优先</p>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-top: 15px" >
                        <h5 style="text-align: center">加盟费用</h5>
                        <div class="feature" style="margin-top: 15px;font-size: 15px" >
                            <p>0元加盟费用，预交款可抵货款</p>
                        </div>
                    </div>
                    <div class="col-md-2"  style="padding-top: 15px">
                        <h5 style="text-align: center">代理等级</h5>
                        <div class="feature" style="margin-top: 15px;font-size: 15px" >
                            依次为认证代理、核心代理、区域独家代理和省级独家代理</p>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-top: 15px">
                        <h5 style="text-align: center">代理折扣</h5>
                        <div class="feature" style="margin-top: 15px;font-size: 15px" >
                            <p>级别越高，折扣越高，责任越大，支持越多</p>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-top: 15px" >
                        <h5 style="text-align: center">代理权利</h5>
                        <div class="feature" style="margin-top: 15px;font-size: 15px" >
                            <p>有限定价权，发展下级代理，区域保护政策</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonials-section" style="background: #eee;padding-bottom: 30px;padding-top:10px">
    <div class="container">
        <div class="features-hover-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <div style="text-align: center">
                            <h3 >联系代理加盟</h3>
                            <img src="images/app365/w_line.png">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimonial">
                            <div class="author">
                                <div style="float: left">
                                    <img src="images/app365/w_icon_19.png" style="height: 40px;width: 40px"/>
                                </div>
                                <div style="float: left;margin-top: 15px;margin-left: 5px"><h5>热线:0755-23733656</h5></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimonial">
                            <div class="author">
                                <div style="float: left">
                                    <img src="images/app365/w_icon_20.png"  style="height: 40px;width: 40px;xmargin-left: 3px"/>
                                </div>
                                <div style="float: left;margin-top: 15px;margin-left: 3px"><h5>QQ:2066805631
                                </h5></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimonial">
                            <div class="author">
                                <div style="float: left">
                                    <img src="images/app365/w_icon_21.png"  style="height: 40px;width: 40px"/>
                                </div>
                                <div style="float: left;margin-top: 15px;margin-left: 5px"><h5>邮件:jm@app365.com</h5></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<%include include/footer.html %>
</body>
</html>