<!DOCTYPE html>
<html>
<head>
  <%include include/head_res.html %>
</head>
<body>

  <%include include/top_nav.html %>

  <!-- bof 图片轮播 -->
  <div class="slider-hero" id="slider">
    <a class="slide-nav prev" href="#">Prev</a>
    <a class="slide-nav next" href="#">Next</a>
    <nav>
      <a class="active" href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
    </nav>

    <div class="slides">
      <div class="slide first active">
        <div class="bg"></div>
        <div class="container customFadeInUp info">
          <h1 class="hero-text">聚物流，聚集就是力量</h1>
          <p class="sub-text">
            专业的物流云服务平台，助力物流企业实现价值
          </p>
          <p style="text-align: center;margin-top:25px;">
            <a target="myblank" href="http://idp.app365.com/m/core.User/Signup" class="btn btn-outline-success btn-lg" role="button">
              免费试用
            </a>
          </p>
        </div>
      </div>
      <div class="slide second">
        <div class="bg"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 info info-left">
              <h1 class="hero-text">
                链接物流网络<br>
                让物流管理更简单
              </h1>
              <p>
                领先一步，轻松实现互联网+
              </p>
              <div class="cta">
                <a target="myblank" href="http://idp.app365.com/m/core.User/Signup" class="btn btn-outline-success btn-lg" role="button">
                  免费试用
                </a>
              </div>
            </div>
            <div class="col-sm-6 hidden-xs mobiles">
              <!--
              <img src="images/bgs/h_slide_bg02.jpg" class="img-fluid customFadeInUp" alt="devices" />
              -->
            </div>
          </div>
        </div>
      </div>

      <div class="slide third">
        <div class="bg"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 info info-left">
              <h1 class="hero-text">
                提升管理水平<br>
                让物流信息化轻松简单
              </h1>
              <p>
                适用多种物流业务，便宜好用
              </p>
              <div class="cta">
                <a href="productinfo.html" class="btn btn-secondary  btn-lg">详细介绍</a>
                &nbsp;&nbsp;
                <a target="myblank" href="http://idp.app365.com/m/core.User/Signup" class="btn btn-outline-success btn-lg">免费试用</a>
              </div>
            </div>
            <div class="col-sm-6 hidden-xs">
            </div>
          </div>
        </div>
      </div>

      <div class="slide four">
        <div class="bg"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 hidden-xs">
            </div>
            <div class="col-sm-6 info info-right">
              <h1 class="hero-text">
                有效管理联盟加盟<br>
                实现快速扩张
              </h1>
              <p>
                国内首个在线联盟加盟管理平台
              </p>
              <div class="cta">
                <a  target="myblank" href="http://idp.app365.com/m/core.User/Signup" class="btn btn-outline-success btn-lg" role="button">
                  免费试用
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="slide five">
        <div class="bg"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 hidden-xs">
            </div>
            <div class="col-sm-6 info info-right">
              <h1 class="hero-text">
                手机应用<br>
                随时随地打理生意
              </h1>
              <p>
                云计算技术全面结合移动办公
              </p>
              <div class="cta">
                <a href="applications.html#1" class="btn btn-outline-success btn-lg" role="button">
                  下载APP
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="video-modal">
      <div class="wrap">
        <iframe src="https://player.vimeo.com/video/22439234" width="620" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div> <!-- eof 图片轮播 -->

  <div class="features-tabs-section" style="margin-top: 70px;">
    <div class="container">
      <div class="header text-center">
        <h2>一体化的综合性物流管理云平台</h2>
        <p class="mt-3">适用各种物流企业，同一平台上实现多公司协同，全链条信息透明。</p>
      </div>

      <div class="tabs-wrapper">
        <ul class="nav nav-tabs justify-content-center" id="feature-tabs">
          <li>
            <a style="font-size: 18px" href="#home" class="active" data-toggle="tab">三方物流系统</a>
          </li>
          <li>
            <a style="font-size: 18px" href="#profile" data-toggle="tab">快运快递系统</a>
          </li>
          <li>
            <a style="font-size: 18px" href="#messages" data-toggle="tab">仓储管理系统</a>
          </li>
          <li>
            <a style="font-size: 18px" href="#settings" data-toggle="tab">仓配一体化系统</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade show active" id="home">
            <div class="row">
              <div class="col-lg-6 order-lg-2 image">
                <img src="images/feature_tpl.png" class="img-fluid" alt="pic2" />
              </div>
              <div class="col-lg-6 order-lg-1 info">
                <h4 style="color: #28a745">功能强大，灵活方便的第三方物流管理系统</h4>
                <p class="text-left">
                  <i class="fa fa-check-circle-o"></i>特有运价管理，彻底解决运价乱、对账难问题
                </p>
                <p class="text-left">
                  <i class="fa fa-check-circle-o"></i>大客户专属平台，与客户联系更紧密，客户更满意
                </p>
                <p class="text-left">
                  <i class="fa fa-check-circle-o"></i>连接承运商与司机，实现货物全程跟踪查询
                </p>
                <p class="text-left">
                  <i class="fa fa-check-circle-o"></i>平台内车源更多、更靠谱，再也不为找车发愁
                </p>
                <div class="cta">
                  <a href="cust_message.html" class="btn btn-outline-success" role="button">
                    <i class="fa fa-headphones"></i>
                    联系客服
                  </a>
                  &nbsp;&nbsp;&nbsp;
                  <a href="three_party.html" class="btn btn-outline-success" role="button">
                    <i class="fa fa-file-text-o"></i>
                    了解详情
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="profile">
            <div class="row">
              <div class="col-lg-6 image">
                <img src="images/feature_ems.png" class="img-fluid" alt="pic1" />
              </div>
              <div class="col-lg-6 info">
                <h4 style="color: #28a745">适用多种物流业务组合的综合性解决方案</h4>
                <p class="text-left">
                  <i class="fa fa-check-circle-o"></i>电子运单，彻底告别手写运单；一票到底，全程监控货物动态；业务财务，轻松查询一目了然
                </p>
                <p class="text-left">
                  <i class="fa fa-check-circle-o"></i>同时支持专线、快运、快递、三方等多种业务组合，真正做到数据统一共享；支持为综合性企业量身定做，服务更贴心
                </p>
                <p class="text-left">
                  <i class="fa fa-check-circle-o"></i>统一结算、资质认证、网络扩张更容易；实现多公司间资源共享，协同互补，共赢互利；支持多种结盟形式，包括紧密统一的加盟和松散灵活的联盟
                </p>
                <div class="cta">
                  <a href="cust_message.html" class="btn btn-outline-success" role="button">
                    <i class="fa fa-headphones"></i>
                    联系客服
                  </a>
                  &nbsp;&nbsp;&nbsp;
                  <a href="express_delivery.html" class="btn btn-outline-success" role="button">
                    <i class="fa fa-file-text-o"></i>
                    了解详情
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="messages">
            <div class="row">
              <div class="col-lg-6 order-lg-2 image">
                <img src="images/feature_wms.png" class="img-fluid" alt="pic3" />
              </div>
              <div class="col-lg-6 order-lg-1 info">
                <h4 style="color: #28a745">操作简便，支持分布式仓库的云仓储平台</h4>
                <p class="text-left">
                  <i class="fa fa-check-circle-o"></i>灵活的计费机制，可以配置不同的仓储计费模式
                </p>
                <p class="text-left">
                  <i class="fa fa-check-circle-o"></i>独有的会员系统，让客户随时随地掌握货物动态
                </p>
                <p class="text-left">
                  <i class="fa fa-check-circle-o"></i>完善的仓库业务管理，支持冷链、危品等多种类型的仓库
                </p>
                <p class="text-left">
                  <i class="fa fa-check-circle-o"></i>支持与厂家ERP系统的集成，实现数据无缝对接
                </p>
                <div class="cta">
                  <a href="cust_message.html" class="btn btn-outline-success" role="button">
                    <i class="fa fa-headphones"></i>
                    联系客服
                  </a>
                  &nbsp;&nbsp;&nbsp;
                  <a href="warehouse_management.html" class="btn btn-outline-success" role="button">
                    <i class="fa fa-file-text-o"></i>
                    了解详情
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="settings">
            <div class="row">
              <div class="col-lg-6 image">
                <img src="images/feature-wtms.png" class="img-fluid" alt="pic4" />
              </div>
              <div class="col-lg-6 info">
                <h4 style="color: #28a745">全面整合运输、仓储业务的综合仓配一体化平台</h4>
                <p class="text-left">
                  <i class="fa fa-check-circle-o"></i>实现仓运配一体，完全打通WMS和TMS
                </p>
                <p class="text-left">
                  <i class="fa fa-check-circle-o"></i>支持各种复杂的业务组合，真正做到数据统一共享
                </p>
                <p class="text-left">
                  <i class="fa fa-check-circle-o"></i>支持为综合性企业量身定做，服务更贴心
                </p>
                <div class="cta">
                  <a href="cust_message.html" class="btn btn-outline-success" role="button">
                    <i class="fa fa-headphones"></i>
                    联系客服
                  </a>
                  &nbsp;&nbsp;&nbsp;
                  <a href="integration.html" class="btn btn-outline-success" role="button">
                    <i class="fa fa-file-text-o"></i>
                    了解详情
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="features-section">
    <div class="container">
      <div class="divider"></div>
      <div class="feature feature-app">
        <div class="row">
          <div class="col-md-6">
            <div class="info">
              <h4 class="mt-lg-5" style="color: #28a745">手机应用，随时随地打理生意，让沟通更方便</h4>
              <p class="text-left">
                <i class="fa fa-check-circle-o"></i><b>客户版：</b>手机下单、实时跟踪，手指一点轻松搞定
              </p>
              <p class="text-left">
                <i class="fa fa-check-circle-o"></i><b>站点版：</b>扫描操作、录单派送，方寸之间运筹帷幄
              </p>
              <p class="text-left">
                <i class="fa fa-check-circle-o"></i><b>司机版：</b>找货接单、消息沟通，简单易用明白赚钱
              </p>
              <div class="cta">
                <a href="applications.html#1" class="btn btn-outline-success btn-lg" role="button">
                  了解并下载APP
                  <i class="fa fa-chevron-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <a href="features.html">
            <img src="images/feature_app.png" class="img-fluid" alt="feature1" /></a>
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <div class="feature">
        <div class="row">
          <div class="col-md-6 order-md-2">
            <div class="info">
              <h4 class="mt-lg-4" style="color: #28a745">专属网站，您与世界之间只需点击鼠标</h4>
              <p>
                专属公司网站，突出公司形象，成为展现公司面貌的新窗口。在互联网发布公司信息，帮助公司扩大业务
              </p>
              <p>
                在线查询、在线下单，拉近与客户的距离。多种模版选择，展现公司独特个性
              </p>
            </div>
          </div>
          <div class="col-md-6 order-md-1 text-center">
            <img src="images/feature_site.png" class="img-fluid" alt="专属网站" />
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="cta-section">
      <h1>聚物流，聚集就是力量</h1>
      <h3 style="margin-top: 20px">即刻加入聚物流，体验全新的工作方式。</h3>
      <a target="myblank" style="height:60px;width:230px;background:#28a745;line-height:11px;font-size: 25px " href="http://idp.app365.com/m/core.User/Signup">
        免费试用
      </a>
    </div>
  </div>

  <div class="services-section">
  <div class="services-grid-section services-grid-section--border">
    <div class="container">
      <div class="header">
        <h3>使用“聚物流”管理云平台，省心省力省钱</h3>
        <p>

        </p>
      </div>
      <div class="services">
        <div class="row">
          <div class="col-md-4">
            <div class="service">
              <div>
                <img src="images/service_b01.gif" class="img-fluid" alt="services1" />
              </div>
              <div>
                <strong ></strong>
                <p style="font-size: 17px ;margin-top: 10px;color: #4a4a4a">
                  网页浏览，快速部署
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service">
              <div>
                <img src="images/service_b02.gif" class="img-fluid" alt="services2" />
              </div>
              <div>
                <strong></strong>
                <p style="font-size: 17px ;margin-top: 10px;color: #4a4a4a">
                  云端维护，免费更新
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service">
              <div>
                <img src="images/service_b03.gif" class="img-fluid" alt="services3" />
              </div>
              <div>
                <strong></strong>
                <p style="font-size: 17px ;margin-top: 10px;color: #4a4a4a">
                  按需购买，杜绝浪费
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="services-showcase-section" style="margin-bottom: 30px">
    <div class="container">
      <div class="header">
        <h3>“聚物流”一心为你专业专属贴心服务</h3>
        <p>

        </p>
      </div>
      <div class="services">
        <div class="row">
          <div class="col-md-6 service">
            <img src="images/app365/service_s01.gif" alt="globe" />
            <div class="info">
              <strong>7x24小时客服支持</strong>
              <p>全天候为您在线。 不论何时，第一时间解决您的疑惑。</p>
            </div>
          </div>
          <div class="col-md-6 service">
            <img src="images/app365/service_s02.gif" alt="location" />
            <div class="info">
              <strong>操作培训</strong>
              <p>听候您的召唤。远程或者上门都可以，也欢迎参加公开课。</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 service">
            <img src="images/app365/service_s03.gif" alt="smartphone" />
            <div class="info">
              <strong>定制开发</strong>
              <p>应你所需，量身定做。按照客户的不同要求，定制功能模块和开发接口。</p>
            </div>
          </div>
          <div class="col-md-6 service">
            <img src="images/app365/service_s04.gif" alt="support" />
            <div class="info">
              <strong>安全保障</strong>
              <p>全方位保护您的信息安全。综合手段和措施打造银行级别的安全保护，让您安心使用。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><hr>
    <div class="divider"></div>
    <div class="clients-section" id="link">
      <div class="container">
        <h3>我们服务的客户</h3>
        <p>
          承载着 6000+ 物流企业的信任，聚物流正在快速成长中
        </p>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="http://xtlbex.app365.com/" target="_blank" alt="First slide"><img src="images/logos/case11.png"></a>
              <a href="http://www.e-henglu.com/" target="_blank"><img src="images/logos/case12.png"></a>
              <a href="http://www.etru.app365.com/" target="_blank"><img src="images/logos/case13.png"></a>
              <a href="http://www.sinotrans-csc.com/" target="_blank"><img src="images/logos/case14.png"></a>
              <a href="http://www.doorlink.cn/RoudeLine/" target="_blank"><img src="images/logos/case15.png"></a>
            </div>
            <div class="carousel-item">
              <a href="http://www.fbkd.net/" target="_blank"><img src="images/logos/case16.png"></a>
              <a href="http://www.tongyue-56.com/" target="_blank"><img src="images/logos/case17.png"></a>
              <a href="http://www.56yt.com/" target="_blank"><img src="images/logos/case18.png"></a>
              <a href="http://www.lanhai56.cn/" target="_blank"><img src="images/logos/case19.png"></a>
              <a href="http://www.blc56.com" target="_blank"><img src="images/logos/case20.png"></a>
            </div>
            <div class="carousel-item">
              <a href="http://www.ydwl.org/" target="_blank"><img src="images/logos/case21.png"></a>
              <a href="http://www.gexll.com" target="_blank"><img src="images/logos/case22.png"></a>
              <a href="http://ystwuliu.app365.com/" target="_blank"><img src="images/logos/case23.png"></a>
              <a href="http://gyhft.app365.com/" target="_blank"><img src="images/logos/case24.png"></a>
              <a href="http://huaheng.app365.com/" target="_blank"><img src="images/logos/case25.png"></a>
            </div>
            <div class="carousel-item">
              <a href="http://kunchi-sh.app365.com/" target="_blank"><img src="images/logos/case27.png"></a>
              <a href="http://www.zjs56.com/" target="_blank"><img src="images/logos/case28.png"></a>
              <a href="http://www.enzhiwuliu.com/" target="_blank"><img src="images/logos/case29.png"></a>
              <a href="http://www.ganjisong.com/" target="_blank"><img src="images/logos/case30.png"></a>
              <a href="http://www.til-china.com/" target="_blank"><img src="images/logos/case31.png"></a>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

  </div>

  <%include include/footer.html %>

  <script type="text/javascript"><!-- xxx -->
    $(function () {
      var $navDots = $("#slider nav a")
      var $next = $(".slide-nav.next");
      var $prev = $(".slide-nav.prev");
      var $slides = $("#slider .slides .slide");
      var actualIndex = 0;
      var swiping = false;
      var interval;

      $navDots.click(function (e) {
        e.preventDefault();
        if (swiping) { return; }
        swiping = true;

        actualIndex = $navDots.index(this);
        updateSlides(actualIndex);
      });

      $next.click(function (e) {
        e.preventDefault();
        if (swiping) { return; }
        swiping = true;

        clearInterval(interval);
        interval = null;

        actualIndex++;
        if (actualIndex >= $slides.length) {
          actualIndex = 0;
        }

        updateSlides(actualIndex);
      });

      $prev.click(function (e) {
        e.preventDefault();
        if (swiping) { return; }
        swiping = true;

        clearInterval(interval);
        interval = null;

        actualIndex--;
        if (actualIndex < 0) {
          actualIndex = $slides.length - 1;
        }

        updateSlides(actualIndex);
      });

      function updateSlides(index) {
        // update nav dots
        $navDots.removeClass("active");
        $navDots.eq(index).addClass("active");

        // update slides
        var $activeSlide = $("#slider .slide.active");
        var $nextSlide = $slides.eq(index);

        $activeSlide.fadeOut();
        $nextSlide.addClass("next").fadeIn();
        
        setTimeout(function () {
          $slides.removeClass("next").removeClass("active");
          $nextSlide.addClass("active");
          $activeSlide.removeAttr('style');
          swiping = false;
        }, 1000);
      }

      interval = setInterval(function () {
        if (swiping) { return; }
        swiping = true;

        actualIndex++;
        if (actualIndex >= $slides.length) {
          actualIndex = 0;
        }

        updateSlides(actualIndex);
      }, 5000);

      // demo player
      var $videoModal = $(".video-modal");
      $("#demo-player").click(function () {
        $videoModal.toggleClass("active");
        clearInterval(interval);
        interval = null;
      });
      $videoModal.click(function () {
        $videoModal.removeClass("active");
        setTimeout(function () {
          $videoModal.find(".wrap").html('<iframe src="#" width="620" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>');
        }, 1000);
      })
      $videoModal.find(".wrap").click(function (e) {
        e.stopPropagation();
      });
    });
  </script>
</body>
</html>