<!DOCTYPE html>
<head>
    <title>仓配一体化</title>
    <%include include/head_res.html %>
    <link rel="stylesheet" href="/css/baseStyle.css" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
</head>
<body>
<%include include/top_nav.html %>
<div style=" margin-top: 50px">
    <div class="container">
        <div class="row" style="height: auto">
            <div class="col-lg-12 info">
                <h3 style="color: #4a4a4a">仓配一体化</h3>
                <h5 style="color: #757575">仓配协同，仓库指令到配送运输，一票到底，全链条信息同步透明，提高仓库作业和配送作业协同，增强服务效率。</h5>
            </div>
        </div>

        <div class="row col-lg-12" style="height: auto">
            <section class="pro-intro">
                <ul class="pro-intro-feature clearfix">
                    <li><span>1</span>仓配<br>协同</li>
                    <li class="orn"></li>
                    <li><span>2</span>一票<br>到底</li>
                    <li class="orn"></li>
                    <li><span>3</span>智能<br>调度</li>
                    <li class="orn"></li>
                    <li><span>4</span>移动<br/>应用</li>
                    <li class="orn"></li>
                    <li><span>4</span>高效率</li>
                </ul>
            </section>
        </div>

        <div class="col-lg-12" style="height: auto">
            <p class="text-left">
                仓配一体化的优势在于通过仓和配的结合，将订单预处理、执行计划、库内作业、发运配送、拒收返回以及上下游的账务清分等全部统一起来，高效完成客户作业需求，实现智慧物流的全链条服务。</br></br>
            </p>
        </div>
        <div class="col-lg-12" style="height: auto;margin-top: 30px">
            <a target="myblank" class="btn btn-outline-success" href="http://idp.app365.com/m/core.User/Signup" target="_blank"><i class="fa fa-folder-open-o"></i> 免费试用</a>
        </div>
        <div class="features-section" style="height: auto">
            <div class="container">
                <!--<div class="header text-center">
                    <h2>针对仓库实际出入需求定制</h2>
                    <p class="mt-3">与运输配送管理系统无缝对接，更专业、更实用
                    </p>
                </div>-->
                <div class="feature">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info">
                                <h4 style="color: #28a745;font-weight: bold" class="mt-lg-5  text-left">全链条信息同步透明</h4>
                                <p class="text-left">
                                    仓配协同 全链条信息同步透明</br>
                                    实现仓储和配送无缝连接</br>
                                    节省管理、人工沟通成本</br>
                                    减少车辆等候时间，提高服务效率</br>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <img src="/images/app365/integration_01.png" class="img-fluid" alt="feature1" />
                        </div>
                    </div>
                </div>
                <div class="feature">
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <div class="info">
                                <h4 style="color: #28a745;font-weight: bold" class="mt-lg-4 text-left">一票到底</h4>
                                <p class="text-left">
                                    从订单指令到仓储作业到配送运输，一票到底</br>
                                    支持从客户下达订单指令后，一票一个单号到仓储，运输，财务， 跟踪节点信息清楚明确，全程可视，客户实时查询
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 order-md-1 text-center">
                            <img src="/images/app365/integration_02.png" class="img-fluid" alt="feature2" />
                        </div>
                    </div>
                </div>
                <div class="feature">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info">
                                <h4 style="color: #28a745;font-weight: bold" class="mt-lg-5 text-left">智能调度</h4>
                                <p class="text-left">
                                    适应不同的行业的多种类型仓库，配送智能调度</br>
                                    支持多种行业，多种类型的仓储管理</br>
                                    配送运输根据运单信息，可用车辆情况，智能调度，降低车辆空载使用率
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <img src="/images/app365/integration_03.png" class="img-fluid" alt="feature1" />
                        </div>
                    </div>
                </div>
                <div class="feature">
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <div class="info">
                                <h4 style="color: #28a745;font-weight: bold" class="mt-lg-4 text-left">移动应用，随时随地移动办公</h4>
                                <p class="text-left">
                                    客户APP自主下达指令、查看库存、实时跟踪、系统对账</br>
                                    站点APP实现扫描入库、出库、盘点、调度操作，方便快捷</br>
                                    在线订单跟踪，掌控物流动向</br>
                                    通过GPS服务平台，实现车辆的实时跟踪</br>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 order-md-1 text-center">
                            <img src="/images/app365/integration_04.png" class="img-fluid" alt="feature2" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="height: auto;margin-top: 60px">
            <section class="pro-feature">
                <h4>产品功能</h4>
                <ul class="clearfix">
                    <li><span>1</span>订单管理</li>
                    <li><span>2</span>进出库管理</li>
                    <li><span>3</span>库存管理</li>
                    <li><span>4</span>调度管理</li>
                    <li><span>5</span>回单管理</li>
                    <li><span>6</span>异常件管理</li>
                    <li><span>7</span>过程跟踪</li>
                    <li><span>8</span>GPS跟踪</li>
                    <li><span>9</span>经营报表</li>
                    <li><span>10</span>报价管理</li>
                    <li><span>11</span>计费管理</li>
                    <li><span>12</span>对账管理</li>
                    <li><span>13</span>结算管理</li>
                    <li><span>14</span>VIP客户管理</li>
                    <li><span>15</span>网站管理</li>
                    <li><span>16</span>移动APP</li>
                    <li><span>17</span>微信对接</li>
                </ul>
                <a target="myblank" style="margin-top: 60px" class="btn btn-success btn-lg" href="http://idp.app365.com/m/core.User/Signup" target="_blank">免费试用</a>
            </section>
        </div>
        <hr/>
    </div>
</div>
<%include include/footer.html %>
</body>
</html>