<!DOCTYPE html>
<head>
    <title>插件工具</title>
    <%include include/head_res.html %>
</head>
<body>
<%include include/top_nav.html %>

<div class="features-tabs-section">
    <div class="container">
        <div class="tabs-wrapper">
            <h4 style="margin-bottom: 30px">插件工具</h4>
            <div class="tab-content" style="height: auto">
                <div class="tab-pane fade fade show active" id="profile" style="height: auto">
                    <div class="row">
                        <div class="col-md-1" >
                            <img style="height: 55px;height: 55px" src="/images/app365/ems_logo.png" class="pic" alt="testimonial2" />
                        </div>
                        <div class="col-md-8">
                            <p style="font-weight: bold ;font-size: 15px">聚物流站点版</p>
                            <p style="font-size: 14px;color: #8D959B">为物流公司员工开发的APP，包含任务处理、录单、打印、扫描、跟踪、签收、异常登记、拍照上传等功能</p>
                        </div>
                        <div class="col-md-3">
                            <a href="http://res.app365.com/downloads/android56-ems.apk" style="font-size: 11px" class="btn btn-success">下载</a>
                            <img style="height: 80px;height: 80px;margin-left: 20px" src="/images/app365/ems_barcode.jpg">
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-1">
                            <img style="height: 55px;height: 55px" src="/images/app365/cust_logo.png" class="pic" alt="testimonial2" />
                        </div>
                        <div class="col-md-8">
                            <p style="font-weight: bold ;font-size: 15px">聚物流客户版</p>
                            <p style="font-size: 14px;color: #8D959B">为物流公司客户提供的APP，包含在线下单、运单跟踪、网点查询、运价查询、历史订单管理等功能</p>
                        </div>
                        <div class="col-md-3">
                            <a href="http://res.app365.com/downloads/android56-cust.apk" style="font-size: 11px;color: white" class="btn btn-success">下载</a>
                            <img style="height: 80px;height:80px;margin-left: 20px" src="/images/app365/cust_barcode.jpg">
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-1">
                            <img style="height: 55px;height: 55px" src="/images/app365/driver_logo.png" class="pic" alt="testimonial2" />
                        </div>
                        <div class="col-md-8">
                            <p style="font-weight: bold ;font-size: 15px">聚物流司机版</p>
                            <p style="font-size: 14px;color: #8D959B">司机使用APP，包含任务调度、在途跟踪、异常反馈、费用登记、签收录入、拍照上传等功能下载</p>
                        </div>
                        <div class="col-md-3">
                            <a href="http://res.app365.com/downloads/android56-driver.apk" style="font-size: 11px;color: white" class="btn btn-success">下载</a>
                            <img style="height: 80px;height:80px;margin-left: 20px" src="/images/app365/driver_barcode.png">
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-1">
                            <img style="height: 55px;height:55px" src="/images/app365/dianzicheng.jpg" class="pic" alt="testimonial2" />
                        </div>
                        <div class="col-md-8">
                            <p style="font-weight: bold ;font-size: 15px">电子秤接口及标签打印插件</p>
                            <p style="font-size: 14px;color: #8D959B">基于NPAPI实现的电子秤接口及标签打印插件, 可运行于Chrome和Firefox浏览器</p>
                        </div>
                        <div class="col-md-3">
                            <a href="http://res.app365.com/downloads/npio365.crx" style="font-size: 11px" class="btn btn-success">下载</a>
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-1">
                            <img style="height: 55px;height:55px" src="/images/app365/chrome.jpg" class="pic" alt="testimonial2" />
                        </div>
                        <div class="col-md-8">
                            <p style="font-weight: bold ;font-size: 15px">谷歌浏览器</p>
                            <p style="font-size: 14px;color: #8D959B">谷歌浏览器，版本49，支持xp、win7、win10等.</p>
                        </div>
                        <div class="col-md-3">
                            <a href="http://res.app365.com/downloads/chrome_49.0.2623.112_installer.exe" style="font-size: 11px" class="btn btn-success">下载</a>
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-1">
                            <img style="height: 55px;height:55px" src="/images/app365/epson.png" class="pic" alt="testimonial2" />
                        </div>
                        <div class="col-md-8">
                            <p style="font-weight: bold ;font-size: 15px">EPSON LQ-630K 打印驱动程序</p>
                            <p style="font-size: 14px;color: #8D959B">EPSON LQ-630K 打印机是APP36Z中用于支持运单打印的打印机.</p>
                        </div>
                        <div class="col-md-3">
                            <a href="http://res.app365.com/downloads/epson-lq630k-drv.exe" style="font-size: 11px" class="btn btn-success">下载</a>
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-1">
                            <img style="height: 55px;height:55px" src="/images/app365/argox.png" class="pic" alt="testimonial2" />
                        </div>
                        <div class="col-md-8">
                            <p style="font-weight: bold ;font-size: 15px">Argox立象 OS-214Plus 条码标签打印驱动程序</p>
                            <p style="font-size: 14px;color: #8D959B">Argox立象 OS-214Plus 条码打印机是APP365目前支持的条码打印机之一.</p>
                        </div>
                        <div class="col-md-3">
                            <a href="http://res.app365.com/downloads/Argox_7.4.1_M-0.exe" style="font-size: 11px" class="btn btn-success">下载</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>
<%include include/footer.html %>

</body>
</html>