<!DOCTYPE html>
<head>
    <title>服务支持</title>
    <%include include/head_res.html %>
    <style type="text/css">

        .article-list li{
            margin: 0;
            padding: 0;
            text-align: left;
            list-style:none;
        }

        .article-list li a{
            line-height: 36px;
            font-size: 16px;
            color: #2a2a2a;
        }

        .u-content ul{
            margin: 0;
            padding: 0;
            text-align: left;
        }

    </style>

</head>
<body>
<%include include/top_nav.html %>

<div class="features-tabs-section">
    <div class="container">
        <div style="margin-top: 50px">
            <h4>产品问答</h4>
            <div class="tab-content" style="height: auto;margin-top: 50px">
                <div class="tab-pane fade show active" id="home" style="height: auto">
                    <div class="row" >
                        <div class="main-content col-md-12">
                            <section class="u-content">
                                <ul class="article-list">
                                    <!--<li><span style="float: right;margin-top: 7px">2013-12-16</span><i class="fa fa-caret-right"></i><a href="http://www.app365.com/news/416615086441472.jhtml">APP365货运专线系统适用的范围</a></li>-->
                                    <!--<li><span style="float: right;margin-top: 7px">2013-10-07</span><i class="fa fa-caret-right"></i><a href="http://www.app365.com/news/317268169622528.jhtml">怎么清除浏览器缓存以及清除DNS缓存的简单命令</a></li>-->
                                    <!--<li><span style="float: right;margin-top: 7px">2013-09-17</span><i class="fa fa-caret-right"></i><a href="http://www.app365.com/news/289028288709632.jhtml">如何绑定公司网站独立域名</a></li>-->
                                    <!--<li><span style="float: right;margin-top: 7px">2012-12-29</span><i class="fa fa-caret-right"></i><a href="http://www.app365.com/news/4440a99a-8db0-444d-803c-feaa6c2c04c1.jhtml">如何对员工进行系统授权</a></li>-->
                                    <!--<li><span style="float: right;margin-top: 7px">2012-12-18</span><i class="fa fa-caret-right"></i><a href="http://www.app365.com/news/a6fb394d-b6d8-410b-8bc9-583ff1e52d56.jhtml">如何快速切换站点</a></li>-->
                                    <!--<li><span style="float: right;margin-top: 7px">2012-12-18</span><i class="fa fa-caret-right"></i><a href="http://www.app365.com/news/a4bd68b1-3873-47c9-942b-1fd133baf516.jhtml">怎样进行提货、送货、签收操作</a></li>-->
                                    <!--<li><span style="float: right;margin-top: 7px">2012-12-18</span><i class="fa fa-caret-right"></i><a href="http://www.app365.com/news/ea39bf9a-d41e-4afb-98ea-98ba95cec247.jhtml">货物到达站点怎么入库</a></li>-->
                                    <!--<li><span style="float: right;margin-top: 7px">2012-12-18</span><i class="fa fa-caret-right"></i><a href="http://www.app365.com/news/653dc0f0-cc1f-4839-9092-d3e54b54617d.jhtml">发货站点如何进行中转外包</a></li>-->
                                    <!--<li><span style="float: right;margin-top: 7px">2012-12-18</span><i class="fa fa-caret-right"></i><a href="http://www.app365.com/news/13c99561-6eff-4161-bcd3-a95176b140ed.jhtml">发货站点如何进行专线配载</a></li>-->
                                    <!--<li><span style="float: right;margin-top: 7px">2012-12-18</span><i class="fa fa-caret-right"></i><a href="http://www.app365.com/news/b5f8bb75-c7f7-4b3c-b122-f0466e708df1.jhtml">11111</a></li>-->
                                    <% questions.forEach(function(question){ %>
                                        <li><span style="float: right;margin-top: 7px"><%= question.dateTime%></span><i class="fa fa-caret-right"></i><a href="/question_detail.html?id=<%= question.id %>"><%= question.title %></a></li>
                                    <% }); %>
                                </ul>

                                <form id="pageForm" action="" method="get">
                                    <input type="hidden" id="page_num" name="page_num" value=<%= pagedata.page_num %>>
                                    <input type="hidden" id="page_count" name="page_count" value=<%= pagedata.page_count%>>
                                </form>

                                <form id="detailForm" action="" method="get">
                                    <input type="hidden" id="question_id" name="question_id">
                                </form>
                                <!--
                                <nav style="border: 1px solid red;" >
                                    <ul style="text-align: center;margin-top: 25px;list-style: none;">
                                        <p style="float: left">共 <%= pagedata.datatotal %> 条记录 <%= pagedata.page_num %>/<%= pagedata.page_count%>页</p>
                                        <li style="float: left;margin-left: 20px"><a id="prev_page" style="color: #28a745" href="###" onclick="navPage('prev');">上一页</a></li>
                                        <li style="float: left;margin-left: 10px"><a id="next_page" style="color: #28a745" href="###" onclick="navPage('next');">下一页</a></li>
                                    </ul>
                                </nav>
                                -->
                                <div style="text-align: center;margin-top: 30px;margin-bottom: 30px">
                                    <!--p style="float: left">共 <%= pagedata.datatotal %> 条记录 <%= pagedata.page_num %>/<%= pagedata.page_count%>页</p>-->
                                    <a style="color: #0f1013" href="###">共 <%= pagedata.datatotal %> 条记录 <%= pagedata.page_num %>/<%= pagedata.page_count%>页</a>
                                    <a id="prev_page" style="color: #28a745;margin-left:30px;margin-right: 10px" href="###" onclick="navPage('prev');">上一页</a>
                                    <a id="next_page" style="color: #28a745" href="###" onclick="navPage('next');">下一页</a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>
<%include include/footer.html %>

<script type="text/javascript">

    function navPage(flag) {
        var page_num = $('#page_num').val(),
            page_count = $('#page_count').val(),
            need_submit = true;
        page_num = parseInt(page_num);
        if (flag == 'prev') {
            if (page_num>1)
                page_num=page_num-1;
            else
                need_submit = false;
        } else if (flag == 'next') {
            if (page_num<page_count)
                page_num=page_num+1;
            else
                need_submit = false;
        }

        if (need_submit) {
            $('#page_num').val(page_num);
            $('#pageForm').submit();
        }
    }

    //表单提交
    var hide = false;
    function toJsonStr(params){
        var str = "{";
        var i=0;
        for(var x in params){
            if(i > 0){
                str = str + ",";
            }
            str = str + '"' + x + '"' + ':' + '"' + params[x] + '"';
            i++;
        }
        str = str + "}";
        return str;
    }

    function  changeDateTime() {
        var d = new Date('Thu May 12 2016 08:00:00 GMT+0800 (中国标准时间)');
        returnData=d.getFullYear() + '年' + (d.getMonth() + 1) + '月' + d.getDate() + '日 ';
    }

</script>


</body>
</html>