<!DOCTYPE html>
<html>
<head>
    <title>系统产品</title>
    <%include include/head_res.html %>
    <link rel="stylesheet" href="/css/baseStyle.css" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
    <style>



    </style>
</head>
<body>
<%include include/top_nav.html %>
<div class="features-tabs-section">
    <div class="container">

        <div class="tabs-wrapper">
            <ul class="nav nav-tabs justify-content-left" id="feature-tabs">
                <li>
                    <a href="#sanfangwuliu" class="active" data-toggle="tab" style="font-size: 15px;font-weight: bold;">三方物流</a>
                </li>
                <li>
                    <a href="#zonghekuaiyun" data-toggle="tab" style="font-size: 15px;font-weight: bold">快运快递</a>
                </li>
                <li>
                    <a href="#zhuanxianhuoyun" data-toggle="tab" style="font-size: 15px;font-weight: bold">专线货运</a>
                </li>
                <li>
                    <a href="#cangcuxitong" data-toggle="tab" style="font-size: 15px;font-weight: bold">仓储物流</a>
                </li>
                <li>
                    <a href="#cangpeiyitihua" data-toggle="tab" style="font-size: 15px;font-weight: bold">仓配一体化</a>
                </li>
            </ul>

            <div class="tab-content" style="height: auto;">
                <!-- 三方物流系统 -->
                <div class="tab-pane fade show active" id="sanfangwuliu" style="height: auto">
                    <div class="row" style="height: auto">
                        <div class="col-lg-12 order-lg-1 info" style="height: auto">
                            <h3 style="color: #4a4a4a">专业三方调度配送管理系统</h3>
                            <h4 style="color: #757575;">适用于服务厂家的物流企业
                            </h4>
                        </div>
                    </div>

                    <div class="row col-lg-12" style="height: auto;">
                        <section class="pro-intro">
                                <ul class="pro-intro-feature clearfix">
                                    <li><span>1</span>网上<br>营业厅</li>
                                    <li class="orn"></li>
                                    <li><span>2</span>VIP客户<br>会员</li>
                                    <li class="orn"></li>
                                    <li><span>3</span>ERP<br>对接</li>
                                    <li class="orn"></li>
                                    <li><span>4</span>调度<br>管理</li>
                                    <li class="orn"></li>
                                    <li><span>5</span>微信<br>公众号</li>
                                </ul>
                        </section>
                    </div>

                    <div class="col-lg-12" style="height: auto">
                        <p class="text-left">
                            专门针对三方物流企业实际业务需求量身定做的物流管理系统，具有界面简洁、流程灵活、操作⽅方便、统计详细、易于实施的特点。</br></br>
                            适用于服务厂家的物流企业，货物多为批量货物，注重客户服务，需要实时账务货物动向并向厂家反馈，定期与客户进行批量对账、结算。</br></br>
                            支持多个分公司管理和运价管理，支持货物实时跟踪和运营分析，提供详尽的经营分析报表，为公司VIP客户提供专属客户会员系统，支持与ERP系统的数据对接。</br></br>
                            提供移动APP和专属企业网站，支持对接微信公证号，加强与客户的沟通。</br>
                        </p>
                    </div>
                    <div class="col-lg-12" style="height: auto;margin-top: 30px">
                        <a target="myblank" class="btn btn-outline-success" href="http://idp.app365.com/m/core.User/Signup" target="_blank"><i class="fa fa-folder-open-o"></i> 免费试用</a>
                    </div>
                    <div class="features-section" style="height: auto">
                        <div class="container">
                            <div class="header text-center">
                                <h2>针对三方物流企业实际业务需求定制</h2>
                                <p class="mt-3">
                                    专业调研上千家三方物流企业得出研发方案，功能强大，灵活方便，快速实现物流跟踪
                                </p>
                            </div>
                            <div class="feature">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="info">
                                            <h4 class="mt-lg-5 text-left" style="color: #28a745;font-weight: bold">连接客户、服务商，掌控物流全环节</h4>
                                            <p class="text-left">
                                                VIP客户会员，客户参与物流管理</br>
                                                专线公司实时反馈</br>
                                                完全实现“一票到底、全程监控”</br>
                                                系统集成了网站支持</br>
                                                实现网上下单、运单查询、客户反馈等客户服务</br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <img src="/images/app365/sanfang_01.png" class="img-fluid" alt="feature1" />
                                    </div>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="row">
                                    <div class="col-md-6 order-md-2">
                                        <div class="info">
                                            <h4 class="mt-lg-4 text-left" style="color: #28a745;font-weight: bold">专业调度系统，轻松调车管货</h4>
                                            <p class="text-left">
                                                调度派车，专业可靠</br>
                                                GPS定位，车辆位置真实准确</br>
                                                调度审核标准规范</br>
                                                司机APP实时反馈，全程无忧</br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 order-md-1 text-center">
                                        <img src="/images/app365/sanfang_02.png" class="img-fluid" alt="feature2" />
                                    </div>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="info">
                                            <h4 class="mt-lg-5 text-left" style="color: #28a745;font-weight: bold">经营分析，报表齐备，管理精确决策科学</h4>
                                            <p class="text-left">
                                                营业情况统计，公司财务一览无余</br>
                                                单票毛利分析，收支清晰明了</br>
                                                整车毛利分析，成本管控利器</br>
                                                客户毛利分析，客户分类准确</br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <img src="/images/app365/sanfang_03.png" class="img-fluid" alt="feature1" />
                                    </div>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="row">
                                    <div class="col-md-6 order-md-2">
                                        <div class="info">
                                            <h4 class="mt-lg-4 text-left" style="color: #28a745;font-weight: bold">VIP客户会员，客户更满意</h4>
                                            <p class="text-left">
                                                客户自主下单、打单</br>
                                                历史发货信息统计</br>
                                                在线订单跟踪，掌控物流动向</br>
                                                历史账单清晰明了</br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 order-md-1 text-center">
                                        <img src="/images/app365/sanfang_04.png" class="img-fluid" alt="feature2" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="height: auto;margin-top: 60px">
                        <section class="pro-feature">
                            <h4>产品功能</h4>
                            <ul class="clearfix">
                                <li><span>1</span>运单管理</li>
                                <li><span>2</span>调度管理</li>
                                <li><span>3</span>中转管理</li>
                                <li><span>4</span>送货管理</li>
                                <li><span>5</span>GPS跟踪</li>
                                <li><span>6</span>运价管理</li>
                                <li><span>7</span>费用管理</li>
                                <li><span>8</span>对账管理</li>
                                <li><span>9</span>结算管理</li>
                                <li><span>10</span>经营报表</li>
                                <li><span>11</span>VIP客户会员</li>
                                <li><span>12</span>网站管理</li>
                                <li><span>13</span>ERP对接</li>
                                <li><span>14</span>微信对接</li>
                            </ul>
                            <a target="myblank" style="margin-top: 60px" class="btn btn-success btn-lg" href="http://idp.app365.com/m/core.User/Signup" target="_blank">免费试用</a>
                        </section>
                    </div>
                    <hr/>
                </div>


                <!--货运-->
                <div class="tab-pane fade" id="zhuanxianhuoyun" style="height: auto">
                    <div class="row" style="height: auto">
                        <div class="col-lg-12 order-lg-1 info" style="height: auto">
                            <h3 style="color: #4a4a4a">专线货运系统</h3>
                            <h4 style="color: #757575;">适用于中小物流企业和货运专线</h4>
                        </div>
                    </div>
                    <div class="row col-lg-12" style="height: auto">
                        <section class="pro-intro">
                            <ul class="pro-intro-feature clearfix">
                                <li><span>1</span>专线<br>联盟</li>
                                <li class="orn"></li>
                                <li><span>2</span>专属<br>网站</li>
                                <li class="orn"></li>
                                <li><span>3</span>网上<br>营业厅</li>
                                <li class="orn"></li>
                                <li><span>4</span>移动APP</li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-lg-12" style="height: auto">
                        <p class="text-left">
                            适用于中小物流企业和货运专线。实现运单管理、到货管理和财务管理，支持配载发车和中转外包，提供专属企业网站和移动App。</br></br>
                            针对货运专线的实际业务需求而量身定做的物流管理系统，具有界面简洁、流程灵活、操作方便、易于实施的特点。<br/><br/>
                            能够实现对各地分公司和网点全面管理和监控，以及通过加盟体系实现公司业务网络的快速扩张。
                        </p>
                    </div>
                    <div class="col-lg-12" style="height: auto;margin-top: 30px">
                        <a target="myblank" class="btn btn-outline-success" href="http://idp.app365.com/m/core.User/Signup" target="_blank"><i class="fa fa-folder-open-o"></i> 免费试用</a>
                    </div>
                    <div class="features-section" style="height: auto">
                        <div class="container">
                            <div class="header text-center">
                                <h2>针对货运专线的实际业务需求而量身定做的物流管理系统</h2>
                                <p class="mt-3">实现对各地分公司和网点全面管理和监控，以及通过加盟体系实现公司业务网络的快速扩张。</br>
                                </p>
                            </div>
                            <div class="feature">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="info">
                                            <h4 style="color: #28a745;font-weight: bold" class="mt-lg-5 text-left">线物流管理，便宜好用</h4>
                                            <p class="text-left">
                                                系统记录了运单在每一个环节的详细情况</br>
                                                完全实现“一票到底、全程监控”</br>
                                                系统集成了网站支持</br>
                                                实现网上下单、运单查询、客户反馈等客户服务</br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <img src="/images/app365/zhuanxian_01.jpg" class="img-fluid" alt="feature1" />
                                    </div>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="row">
                                    <div class="col-md-6 order-md-2">
                                        <div class="info">
                                            <h4 style="color: #28a745;font-weight: bold" class="mt-lg-4 text-left">运营成本，大幅降低</h4>
                                            <p class="text-left">
                                                电脑开单、打印运单和条码标签</br>
                                                告别手工开单、写标签，快速准确</br>
                                                方便实现业务监控和决策分析</br>
                                                经营决策更有针对性</br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 order-md-1 text-center">
                                        <img src="/images/app365/zhuanxian_02.jpg" class="img-fluid" alt="feature2" />
                                    </div>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="info">
                                            <h4 style="color: #28a745;font-weight: bold" class="mt-lg-5 text-left">财务收支，一目了然</h4>
                                            <p class="text-left">
                                                财务结算、收支管理、利润分析，处理快速准确</br>
                                                应收应付清清楚楚，对帐单一目了然</br>
                                                公司总部实时监控各分公司网点的</br>
                                                业务情况、发货情况、财务情况</br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <img src="/images/app365/zhuanxian_03.jpg" class="img-fluid" alt="feature1" />
                                    </div>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="row">
                                    <div class="col-md-6 order-md-2">
                                        <div class="info">
                                            <h4 style="color: #28a745;font-weight: bold" class="mt-lg-4 text-left">移动应用，随时随地管公司</h4>
                                            <p class="text-left">
                                                移动APP轻松实现发车、卸货、签收的扫描支持</br>
                                                准确高效，杜绝货损货差</br>
                                                通过GPS服务平台，实现车辆的实时跟踪</br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height: auto;margin-top: 60px">
                        <section class="pro-feature">
                            <h4>产品功能</h4>
                            <ul class="clearfix">
                                <li><span>1</span>运单录入</li>
                                <li><span>2</span>运单管理</li>
                                <li><span>3</span>配载发车</li>
                                <li><span>4</span>中转外包</li>
                                <li><span>5</span>到货管理</li>
                                <li><span>6</span>查询分析</li>
                                <li><span>7</span>基础设置</li>
                                <li><span>8</span>网站管理</li>
                            </ul>
                            <a target="myblank" style="margin-top: 60px" class="btn btn-success btn-lg" href="http://idp.app365.com/m/core.User/Signup" target="_blank">免费试用</a>
                        </section>
                    </div>
                    <hr/>
                </div>

                <!-- 仓储系统 -->
                <div class="tab-pane fade" id="cangcuxitong" style="height: auto">
                    <div class="row" style="height: auto">
                        <div class="col-lg-12 info">
                            <h3 style="color: #4a4a4a">云仓储管理平台</h3>
                            <h4 style="color: #757575;">适用于自建仓库或租赁仓库的管理</h4>
                        </div>
                    </div>

                    <div class="row col-lg-12" style="height: auto">
                        <section class="pro-intro">
                            <ul class="pro-intro-feature clearfix">
                                <li><span>1</span>网上<br>营业厅</li>
                                <li class="orn"></li>
                                <li><span>2</span>多仓管理</li>
                                <li class="orn"></li>
                                <li><span>3</span>计费管理</li>
                                <li class="orn"></li>
                                <li><span>4</span>ERP<br/>对接</li>
                            </ul>
                        </section>
                    </div>

                    <div class="col-lg-12" style="height: auto">
                        <p class="text-left">
                            适用于自建仓库或租赁仓库的管理，具有界面简洁、操作简单、管理清晰的特点，与运输配送管理系统无缝对接。</br></br>
                            除了常规的出入库操作和库存库位等仓库管理功能外，系统还支持自定义仓储计费模式；财务灵活多变，支持分布式多仓管理； 提供API接口，轻松对接ERP系统来支持开通VIP客户会员，让客户参与物流管理。</br></br>
                        </p>
                    </div>
                    <div class="col-lg-12" style="height: auto;margin-top: 30px">
                        <a target="myblank" class="btn btn-outline-success" href="http://idp.app365.com/m/core.User/Signup" target="_blank"><i class="fa fa-folder-open-o"></i> 免费试用</a>
                    </div>
                    <div class="features-section" style="height: auto">
                        <div class="container">
                            <div class="header text-center">
                                <h2>针对仓库实际出入需求定制</h2>
                                <p class="mt-3">与运输配送管理系统无缝对接，更专业、更实用
                                </p>
                            </div>
                            <div class="feature">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="info">
                                            <h4 style="color: #28a745;font-weight: bold" class="mt-lg-5  text-left">出入库台账，货物进出清晰明了</h4>
                                            <p class="text-left">
                                                收货入库，批量确认</br>
                                                发货出库，打印配送单</br>
                                                盘点、移库，库存调整</br>
                                                货物收发存信息一手掌握</br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <img src="/images/app365/cangchu_01.jpg" class="img-fluid" alt="feature1" />
                                    </div>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="row">
                                    <div class="col-md-6 order-md-2">
                                        <div class="info">
                                            <h4 style="color: #28a745;font-weight: bold" class="mt-lg-4 text-left">财务管理，收支一目了然</h4>
                                            <p class="text-left">
                                                计费合同管理</br>
                                                计费项目自定义</br>
                                                其他费用管理</br>
                                                出纳明细账</br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 order-md-1 text-center">
                                        <img src="/images/app365/cangchu_02.jpg" class="img-fluid" alt="feature2" />
                                    </div>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="info">
                                            <h4 style="color: #28a745;font-weight: bold" class="mt-lg-5 text-left">VIP客户会员，客户亲自参与</h4>
                                            <p class="text-left">
                                                客户自主下达指令</br>
                                                单票毛利分析，收支清晰明了</br>
                                                整车毛利分析，成本管控利器</br>
                                                客户毛利分析，客户分类准确</br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <img src="/images/app365/cangchu_03.jpg" class="img-fluid" alt="feature1" />
                                    </div>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="row">
                                    <div class="col-md-6 order-md-2">
                                        <div class="info">
                                            <h4 style="color: #28a745;font-weight: bold" class="mt-lg-4 text-left">对接ERP，提升管理效率</h4>
                                            <p class="text-left">
                                                对接ERP，连接货主</br>
                                                历史发货信息统计</br>
                                                ERP直接下单，省时省人工</br>
                                                库存信息实时反馈</br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 order-md-1 text-center">
                                        <img src="/images/app365/cangchu_04.jpg" class="img-fluid" alt="feature2" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="height: auto;margin-top: 60px">
                        <section class="pro-feature">
                            <h4>产品功能</h4>
                            <ul class="clearfix">
                                <li><span>1</span>入库管理</li>
                                <li><span>2</span>出库管理</li>
                                <li><span>3</span>库存发车</li>
                                <li><span>4</span>计费管理</li>
                                <li><span>5</span>财务结算</li>
                                <li><span>6</span>多仓管理</li>
                                <li><span>7</span>商品管理</li>
                                <li><span>8</span>查询统计</li>
                                <li><span>9</span>VIP客户会员</li>
                                <li><span>10</span>ERP系统对接</li>
                                <li><span>11</span>运输系统对接</li>
                            </ul>
                            <a target="myblank" style="margin-top: 60px" class="btn btn-success btn-lg" href="http://idp.app365.com/m/core.User/Signup" target="_blank">免费试用</a>
                        </section>
                    </div>
                    <hr/>
                </div>

                <!-- 快递 -->
                <div class="tab-pane fade" id="zonghekuaiyun" style="height: auto">
                    <div class="row" style="height: auto">
                        <div class="col-lg-12 order-lg-1 info" style="height: auto">
                            <h3 style="color: #4a4a4a">快运快递管理系统</h3>
                            <h4 style="color: #757575;">适用于提供综合物流运输服务的企业。</h4>
                        </div>
                    </div>
                    <div class="row col-lg-12" style="height: auto">
                        <section class="pro-intro">
                            <ul class="pro-intro-feature clearfix">
                                <li><span>1</span>数据<br>联通</li>
                                <li class="orn"></li>
                                <li><span>2</span>仓运<br>一体</li>
                                <li class="orn"></li>
                                <li><span>3</span>专属<br>网站</li>
                                <li class="orn"></li>
                                <li><span>4</span>移动APP</li>
                                <li class="orn"></li>
                                <li><span>5</span>系统对接</li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-lg-12" style="height: auto">
                        <p class="text-left">
                            适用于提供综合物流运输服务的企业。系统支持多种业务形态，包含：专线货运、仓储配送、快递管理、快运管理、多公司联运等。</br></br>
                            界面简洁，流程灵活，操作方便，全面支持TMS和WMS功能，开放API接口，提供移动解决方案，支持自建网站。
                        </p>
                    </div>
                    <div class="col-lg-12" style="height: auto;margin-top: 30px">
                        <a target="myblank" class="btn btn-outline-success" href="http://idp.app365.com/m/core.User/Signup" target="_blank"><i class="fa fa-folder-open-o"></i> 免费试用</a>
                    </div>
                    <div class="features-section" style="height: auto">
                        <div class="container">
                            <div class="header text-center">
                                <h2>针对直营或加盟模式运营的快递企业定制</h2>
                                <p class="mt-3">独特的软件架构和模式，有效解决了传统软件维护成本惊人，业务量增加时性能无法保障的诟病。</br>
                                </p>
                            </div>
                            <div class="feature">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="info">
                                            <h4 style="color: #28a745;font-weight: bold" class="mt-lg-5 text-left">综合一体的解决方案，为您的业务量身定做</h4>
                                            <p class="text-left">
                                                完善的TMS解决方案</br>
                                                标准的三方调度功能</br>
                                                集成仓库管理模块</br>
                                                一套系统解决综合服务型公司烦恼</br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <img src="/images/app365/kuaiyun_01.jpg" class="img-fluid" alt="feature1" />
                                    </div>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="row">
                                    <div class="col-md-6 order-md-2">
                                        <div class="info">
                                            <h4 style="color: #28a745;font-weight: bold" class="mt-lg-4 text-left">支持多种业务组合，分则独秀，合则大成</h4>
                                            <p class="text-left">
                                                仓库与运输无缝对接</br>
                                                服务商转货，联程跟踪，实时反馈</br>
                                                调度功能，轻松调车管车</br>
                                                功能组合，强大无比</br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 order-md-1 text-center">
                                        <img src="/images/app365/kuaiyun_02.jpg" class="img-fluid" alt="feature2" />
                                    </div>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <div class="info">
                                            <h4 style="color: #28a745;font-weight: bold" class="mt-lg-5 text-left">兼容开放，利于集成公司管理系统和外部系统</h4>
                                            <p class="text-left">
                                                开放API，对接内外部系统</br>
                                                云计算模式，有网就能用</br>
                                                移动APP让公司管理更高效</br>
                                                VIP客户会员，客户联系更紧密</br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <img src="/images/app365/kuaiyun_03.jpg" class="img-fluid" alt="feature1" />
                                    </div>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="row">
                                    <div class="col-md-6 order-md-2">
                                        <div class="info">
                                            <h4 style="color: #28a745;font-weight: bold" class="mt-lg-4 text-left">完善的客户服务，全面满足客户需求</h4>
                                            <p class="text-left">
                                                7*24小时在线客服服务</br>
                                                一对一客服专员</br>
                                                多路服务器网络支持</br>
                                                银行级别数据托管，安全无忧</br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 order-md-1 text-center">
                                        <img src="/images/app365/kuaiyun_04.jpg" class="img-fluid" alt="feature2" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height: auto;margin-top: 60px">
                        <section class="pro-feature">
                            <h4>产品功能</h4>
                            <ul class="clearfix">
                                <li><span>1</span>运单管理</li>
                                <li><span>2</span>调度管理</li>
                                <li><span>3</span>中转管理</li>
                                <li><span>4</span>到货管理</li>
                                <li><span>5</span>送货管理</li>
                                <li><span>6</span>仓库仲裁</li>
                                <li><span>7</span>GPS跟踪</li>
                                <li><span>8</span>扫描支持</li>
                                <li><span>9</span>运价管理</li>
                                <li><span>10</span>对账管理</li>
                                <li><span>11</span>结算管理</li>
                                <li><span>12</span>经营报表</li>
                                <li><span>13</span>VIP客户会员</li>
                                <li><span>14</span>网站管理</li>
                                <li><span>15</span>移动APP</li>
                                <li><span>16</span>微信对接</li>
                            </ul>
                            <a target="myblank" style="margin-top: 60px" class="btn btn-success btn-lg" href="http://idp.app365.com/m/core.User/Signup" target="_blank">免费试用</a>
                        </section>
                    </div>
                    <hr/>
                </div>


                <!-- 仓配一体化 -->
                <div class="tab-pane fade" id="cangpeiyitihua" style="height: auto">
                    <div class="row" style="height: auto">
                        <div class="col-lg-12 order-lg-1 info" style="height: auto">
                            <h3 style="color: #4a4a4a">仓配一体化</h3>
                            <h4 style="color: #757575;">仓配协同，仓库指令到配送运输，一票到底，全链条信息同步透明，提高仓库作业和配送作业协同，增强服务效率。
                            </h4>
                        </div>
                    </div>

                    <div class="row col-lg-12" style="height: auto">
                        <section class="pro-intro">
                            <ul class="pro-intro-feature clearfix">
                                <li><span>1</span>仓配<br>协同</li>
                                <li class="orn"></li>
                                <li><span>2</span>一票<br>到底</li>
                                <li class="orn"></li>
                                <li><span>3</span>智能<br>调度</li>
                                <li class="orn"></li>
                                <li><span>4</span>移动<br>应用</li>
                                <li class="orn"></li>
                                <li><span>5</span>高效率</li>
                            </ul>
                        </section>
                    </div>

                    <div class="col-lg-12" style="height: auto">
                        <p class="text-left">
                            仓配一体化的优势在于通过仓和配的结合，将订单预处理、执行计划、库内作业、发运配送、拒收返回以及上下游的账务清分等全部统一起来，高效完成客户作业需求，实现智慧物流的全链条服务。
                        </p>
                    </div>
                    <div class="col-lg-12" style="height: auto;margin-top: 30px">
                        <a target="myblank" class="btn btn-outline-success" href="http://idp.app365.com/m/core.User/Signup" target="_blank"><i class="fa fa-folder-open-o"></i> 免费试用</a>
                    </div>
                    <div class="features-section" style="height: auto">
                        <div class="container">
                            <!--<div class="header text-center">
                                <h2>针对三方物流企业实际业务需求定制</h2>
                                <p class="mt-3">
                                    专业调研上千家三方物流企业得出研发方案，功能强大，灵活方便，快速实现物流跟踪
                                </p>
                            </div>-->
                            <div class="feature">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="info">
                                            <h4 class="mt-lg-5 text-left" style="color: #28a745;font-weight: bold">全链条信息同步透明</h4>
                                            <p class="text-left">
                                                仓配协同 全链条信息同步透明</br>
                                                实现仓储和配送无缝连接</br>
                                                节省管理、人工沟通成本</br>
                                                减少车辆等候时间，提高服务效率</br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <img src="/images/app365/integration_01.png" class="img-fluid" alt="feature1" />
                                    </div>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="row">
                                    <div class="col-md-6 order-md-2">
                                        <div class="info">
                                            <h4 class="mt-lg-4 text-left" style="color: #28a745;font-weight: bold">一票到底</h4>
                                            <p class="text-left">
                                                从订单指令到仓储作业到配送运输，一票到底</br>
                                                支持从客户下达订单指令后，一票一个单号到仓储，运输，财务，
                                                跟踪节点信息清楚明确，全程可视，客户实时查询</br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 order-md-1 text-center">
                                        <img src="/images/app365/integration_02.png" class="img-fluid" alt="feature2" />
                                    </div>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="info">
                                            <h4 class="mt-lg-5 text-left" style="color: #28a745;font-weight: bold">智能调度</h4>
                                            <p class="text-left">
                                                适应不同的行业的多种类型仓库，配送智能调度</br>
                                                支持多种行业，多种类型的仓储管理</br>
                                                配送运输根据运单信息，可用车辆情况，智能调度，降低车辆空载使用率</br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <img src="/images/app365/integration_03.png" class="img-fluid" alt="feature1" />
                                    </div>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="row">
                                    <div class="col-md-6 order-md-2">
                                        <div class="info">
                                            <h4 class="mt-lg-4 text-left" style="color: #28a745;font-weight: bold">移动应用，随时随地移动办公</h4>
                                            <p class="text-left">
                                                客户APP自主下达指令、查看库存、实时跟踪、系统对账</br>
                                                站点APP实现扫描入库、出库、盘点、调度操作，方便快捷</br>
                                                在线订单跟踪，掌控物流动向</br>
                                                通过GPS服务平台，实现车辆的实时跟踪</br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 order-md-1 text-left">
                                        <img src="/images/app365/integration_04.png" class="img-fluid" alt="feature2" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="height: auto;margin-top: 60px">
                        <section class="pro-feature">
                            <h4>产品功能</h4>
                            <ul class="clearfix">
                                <li><span>1</span>订单管理</li>
                                <li><span>2</span>进出库管理</li>
                                <li><span>3</span>库存管理</li>
                                <li><span>4</span>调度管理</li>
                                <li><span>5</span>回单管理</li>
                                <li><span>6</span>异常件管理</li>
                                <li><span>7</span>过程跟踪</li>
                                <li><span>8</span>GPS跟踪</li>
                                <li><span>9</span>经营报表</li>
                                <li><span>10</span>报价管理</li>
                                <li><span>11</span>计费管理</li>
                                <li><span>12</span>对账管理</li>
                                <li><span>13</span>结算管理</li>
                                <li><span>14</span>VIP客户管理</li>
                                <li><span>15</span>网站管理</li>
                                <li><span>16</span>移动APP</li>
                                <li><span>17</span>微信对接</li>
                            </ul>
                            <a target="myblank" style="margin-top: 60px" class="btn btn-success btn-lg" href="http://idp.app365.com/m/core.User/Signup" target="_blank">免费试用</a>
                        </section>
                    </div>
                    <hr/>
                </div>



            </div>
        </div>
    </div>
</div>


<%include include/footer.html %>
</body>
</html>