<!DOCTYPE html>
<head>
    <title>诚聘英才</title>
    <%include include/head_res.html %>
</head>
<body>
<%include include/top_nav.html %>

<div class="features-tabs-section" style="margin-top: 70px;">
    <div class="container">
        <div class="header text-left">
            <h2>简历发送至：lgh@app365.com</h2>
            <p class="mt-3">发送简历注意事项：请在邮件标题注明“应聘职位 姓名”的字样，否则简历将不予处理。<br/>
                例：应聘客服 吴伟您的简历在我们收到后，会马上进行筛选，并根据岗位人员变动，实时招聘。请您耐心的等待。</p>
        </div>

        <div class="tabs-wrapper">
            <ul class="nav nav-tabs justify-content-left" id="feature-tabs">
                <li>
                    <a href="#home" class="active" data-toggle="tab">客服代表</a>
                </li>
                <li>
                    <a href="#profile" data-toggle="tab">销售经理</a>
                </li>
                <li>
                    <a href="#messages" data-toggle="tab">网页设计师</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="home" style="height: auto">
                    <div class="row" style="height: auto">
                        <div class="col-lg-12 order-lg-1 info text-left" style="height: auto">
                            <h3>职位：客服代表</h3>
                            <p style="font-weight: bold" class="text-left">职位描述</p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>协助用户解决在使用软件中遇到的各种问题和用户的投诉处理，跟进用户反馈、投诉情况；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>具有一年以上客户服务工作经验，具备软件行业、B2B行业客服工作经验者优先；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>擅长通过电话与人进行沟通，具备积极的工作态度和快速学习的能力；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>普通话标准清晰，声音甜美，良好的沟通技巧，说话有条理；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>熟练使用office办公软件。
                            </p>
                            <p style="font-weight: bold" class="text-left">任职要求</p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>长相靓丽，性格活泼，喜欢玩QQ、微信、爱自拍；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>工作认真、仔细，责任心强，诚实守信；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>打字速度快，沟通能力强，思维敏捷，有亲和力；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>熟悉计算机操作，有团队合作精神；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>电子商务专业、互联网专业、或者有过淘宝、电商、网络客服等优先录用。
                            </p>
                        </div>
                    </div>
                    <br/><br/><hr/>
                </div>

                <div class="tab-pane fade" id="profile" style="height:auto">
                    <div class="row" style="height: auto">
                        <div class="col-lg-12 order-lg-1 info text-left" style="height: auto">
                            <h3>职位：销售经理</h3>
                            <p style="font-weight: bold" class="text-left">职位描述</p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>通过各种渠道挖掘潜在客户，完成销售指标；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>协调客户和内部资源，为客户解决售前、售中及部分售后问题，提高客户满意度；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>维护客户关系，独立完成客户的拜访及产品销售，保持良好的企业形象，提升客户对公司产品的认知。
                            </p>

                            <p style="font-weight: bold" class="text-left">任职要求</p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>全日制专科以上学历，市场营销、计算机相关专业，2年左右工作经验；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>有互联网销售经验优先，有视频、直播、云服务、政府行业资源优先；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>优秀的表达能力和沟通技巧，擅长谈判和把握客户需求，能有效分析和解决问题；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>能承受销售带来的压力，客户服务意识强；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>形象良好，性格开朗，思维活跃，逻辑性强。热爱销售工作，能承受销售带来的压力。
                            </p>
                            <h4 style="color: #28a745">薪酬构成：高底薪＋高提成！</h4>
                        </div>
                    </div>
                    <br/><br/><hr/>
                </div>
                <div class="tab-pane fade" id="messages" style="height: auto">
                    <div class="row">
                        <div class="col-lg-12 order-lg-1 info text-left" style="height: auto">
                            <h3>职位：网页设计师</h3>
                            <p style="font-weight: bold" class="text-left">职位描述</p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>负责公司网站整体风格的设计构思、界面设计、美化、改版；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>对公司的宣传广告及专题的界面设计、商品拍摄后期处理等工作；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>配合淘宝网各期推广活动相关设计。
                            </p>
                            <p style="font-weight: bold" class="text-left">任职要求</p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>计算机、美术等相关专业大专及以上学历，2年以上网站美术设计工作经验，从事过大型网站项目实施、成熟淘宝商城项目工作者优先；最好有淘宝旺铺设计师经验！
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>有独道的美术见解，美术功底好，设计的产品要求大众化并有利于搜索引擎的搜索；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>较强的美术功底和出色的网页、平面设计能力，对构图、色调、质感及美感有独到的见解，可准确把握项目设计风格,并具有根据要求制作不同风格网页的能力，能协调好局部和整体的关系，注重细节；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>准确把握上级意图，能准确设计出符合主题的美观界面；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>熟练Photoshop、CorelDraw等设计软件；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>熟悉淘宝商城、有手绘能力者优先考虑；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>积极主动，敢于接受挑战，善于与人沟通，理解能力强，有良好的团队合作精神和高度的责任感，能够承受压力，有创新精神，保证工作质量；
                            </p>
                            <p class="text-left">
                                <i class="fa fa-check-circle-o"></i>积极的生活态度，对时尚趋势有敏锐的洞察力，紧跟时尚潮流。
                            </p>
                        </div>
                    </div>
                    <br/><br/><hr/>
                </div>
            </div>
        </div>
    </div>
</div>


<%include include/footer.html %>
</body>
</html>