<!DOCTYPE html>
<head>
    <title>专线货运</title>
    <%include include/head_res.html %>
    <link rel="stylesheet" href="/css/baseStyle.css" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
</head>
<body>
<%include include/top_nav.html %>

<div style=" margin-top: 50px">
    <div class="container">
        <div class="row" style="height: auto">
            <div class="col-lg-12 order-lg-1 info" style="height: auto">
                <h3 style="color: #4a4a4a">专线货运系统</h3>
                <h5 style="color: #757575">适用于中小物流企业和货运专线</h5>
            </div>
        </div>
        <div class="row col-lg-12" style="height: auto">
            <section class="pro-intro">
                <ul class="pro-intro-feature clearfix">
                    <li><span>1</span>专线<br>联盟</li>
                    <li class="orn"></li>
                    <li><span>2</span>专属<br>网站</li>
                    <li class="orn"></li>
                    <li><span>3</span>网上<br>营业厅</li>
                    <li class="orn"></li>
                    <li><span>4</span>移动APP</li>
                </ul>
            </section>
        </div>
        <div class="col-lg-12" style="height: auto">
            <p class="text-left">
                适用于中小物流企业和货运专线。实现运单管理、到货管理和财务管理，支持配载发车和中转外包，提供专属企业网站和移动App。</br></br>
                针对货运专线的实际业务需求而量身定做的物流管理系统，具有界面简洁、流程灵活、操作方便、易于实施的特点。<br/><br/>
                能够实现对各地分公司和网点全面管理和监控，以及通过加盟体系实现公司业务网络的快速扩张。
            </p>
        </div>
        <div class="col-lg-12" style="height: auto;margin-top: 30px">
            <a target="myblank" class="btn btn-outline-success" href="http://idp.app365.com/m/core.User/Signup" target="_blank"><i class="fa fa-folder-open-o"></i> 免费试用</a>
        </div>
        <div class="features-section" style="height: auto">
            <div class="container">
                <div class="header text-center">
                    <h2>针对货运专线的实际业务需求量身定做的物流管理系统</h2>
                    <p class="mt-3">实现对各地分公司和网点全面管理和监控，以及通过加盟体系实现公司业务网络的快速扩张。</br>
                    </p>
                </div>
                <div class="feature">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info">
                                <h4 style="color: #28a745;font-weight: bold" class="mt-lg-5 text-left">线物流管理，便宜好用</h4>
                                <p class="text-left">
                                    系统记录了运单在每一个环节的详细情况</br>
                                    完全实现“一票到底、全程监控”</br>
                                    系统集成了网站支持</br>
                                    实现网上下单、运单查询、客户反馈等客户服务</br>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <img src="/images/app365/zhuanxian_01.jpg" class="img-fluid" alt="feature1" />
                        </div>
                    </div>
                </div>
                <div class="feature">
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <div class="info">
                                <h4 style="color: #28a745;font-weight: bold" class="mt-lg-4 text-left">运营成本，大幅降低</h4>
                                <p class="text-left">
                                    电脑开单、打印运单和条码标签</br>
                                    告别手工开单、写标签，快速准确</br>
                                    方便实现业务监控和决策分析</br>
                                    经营决策更有针对性</br>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 order-md-1 text-center">
                            <img src="/images/app365/zhuanxian_02.jpg" class="img-fluid" alt="feature2" />
                        </div>
                    </div>
                </div>
                <div class="feature">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info">
                                <h4 style="color: #28a745;font-weight: bold" class="mt-lg-5 text-left">财务收支，一目了然</h4>
                                <p class="text-left">
                                    财务结算、收支管理、利润分析，处理快速准确</br>
                                    应收应付清清楚楚，对帐单一目了然</br>
                                    公司总部实时监控各分公司网点的</br>
                                    业务情况、发货情况、财务情况</br>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <img src="/images/app365/zhuanxian_03.jpg" class="img-fluid" alt="feature1" />
                        </div>
                    </div>
                </div>
                <div class="feature">
                    <div class="row">
                        <div class="col-md-6 order-md-2">
                            <div class="info">
                                <h4 style="color: #28a745;font-weight: bold" class="mt-lg-4 text-left">移动应用，随时随地管公司</h4>
                                <p class="text-left">
                                    移动APP轻松实现发车、卸货、签收的扫描支持</br>
                                    准确高效，杜绝货损货差</br>
                                    通过GPS服务平台，实现车辆的实时跟踪</br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height: auto;margin-top: 60px">
            <section class="pro-feature">
                <h4>产品功能</h4>
                <ul class="clearfix">
                    <li><span>1</span>运单录入</li>
                    <li><span>2</span>运单管理</li>
                    <li><span>3</span>配载发车</li>
                    <li><span>4</span>中转外包</li>
                    <li><span>5</span>到货管理</li>
                    <li><span>6</span>查询分析</li>
                    <li><span>7</span>基础设置</li>
                    <li><span>8</span>网站管理</li>
                </ul>
                <a target="myblank" style="margin-top: 60px" class="btn btn-success btn-lg" href="http://idp.app365.com/m/core.User/Signup" target="_blank">免费试用</a>
            </section>
        </div>
        <hr/>
    </div>
</div>
<%include include/footer.html %>
</body>
</html>