<!DOCTYPE html>
<head>
    <title>服务条款</title>
    <%include include/head_res.html %>


</head>
<body>
<%include include/top_nav.html %>

<!-- 内容 -->
<div class="container">
    <div class="row" style="height: auto">
        <div class="col-lg-12 order-lg-1 info" style="height: auto">
            <h2 style="margin-top: 30px">聚物流服务条款</h2>
            <div class="col-md-12 feature" style="margin-top:30px">
                <h3><b></b>版权</h3>
                <p class="text-left">
                    本网站包含的所有内容：文本、图形、LOGO、创意及软件等之所有权归属app365.com应用365网络科技有限公司及本网站的内容/信息提供者，受中国及国际版权法的保护。
                    </br>对本网站上所有内容之复制（包括收集、组合和重新组合），本网站享有排他权并受中国及国际版权法的保护。
                    </br>在本网站上的内容和软件可以用作信息获取网上交易及网上拍卖的信息资源，对本网站该等内容的任何其他使用，包括再造、修改、发布、转发、再版、演示或播出被严格禁止。
                </p>
            </div>
            <div class="col-md-12 feature" style="margin-top:30px">
                <h3><b></b>商标</h3>
                <p class="text-left">
                    app365.com、应用365.com、应用365及其他app365.com应用365的图形、图片、图表、声音、创意、LOGO和服务名称、标识均受相关法律保护，该商标、专有名称、标识等不能在任何非属app365.com的产品或服务上进行容易在客户中引起混淆或引起歧义的使用，或以任何曲解或诋毁www.app365.com之形式使用。
                </p>
            </div>
            <div class="col-md-12 feature" style="margin-top:30px">
                <h3><b></b>网站使用</h3>
                <p class="text-left">
                    app365.com应用365及其任何组成部分不得被再造、复制、抄袭、交易，或为任何未经应用365允许的商业目的所使用。
                    <br>如果应用365确定客户行为违法或有损其网站和企业的利益，则应用365和其关联企业将保留，包括但不限于拒绝提供服务、冻结会员专有账户、和/或取消订单的权利。
                </p>
            </div>
            <div class="col-md-12 feature" style="margin-top:30px">
                <h3><b></b>注册管理</h3>
                <p class="text-left">
                    应用365允许访问客户进行注册并在app365.com上使用各项服务。若您的注册信息不真实，我们将随时删除相关信息或无限时中止您的各项服务，而不必事先取得您的同意，亦无义务事后通知到您。
                </p>
            </div>
            <div class="col-md-12 feature" style="margin-top:30px">
                <h3><b></b>链接</h3>
                <p class="text-left">
                    app365.com上的链接服务可以直接进入其他站点，这些链接的站点不受app365.com的控制， 我公司对任何与本站链接网站的内容不负责任。
                </p>
            </div>
            <div class="col-md-12 feature" style="margin-top:30px">
                <h3><b></b>版权投诉</h3>
                <p class="text-left">
                    app365.com和他的关联企业尊重他人之知识产权。如果您确认您的作品以某种方式被抄袭，该行为触犯了中国及国际版权法，请向app365.com做版权投诉。
                </p>
            </div>
            <div class="col-md-12 feature" style="margin-top:30px">
                <h3><b></b>免责</h3>
                <p class="text-left">
                    app365.com对本网站上所有内容包括但不限于网站运营或本网站上的信息、内容、材料或产品，不提供明示或暗示的担保。由所适用法律许可， app365.com否认所有明示或暗示的担保，包括但不限于为特定目的做的商务暗示担保。 app365.com对任何损失或任何由于使用或不能使用本网站而引起的损失，包括但不限于直接的，间接的，偶然的、惩罚性的和引发的损失，不承担责任。
                </p>
            </div>
            <div class="col-md-12 feature" style="margin-top:30px">
                <h3><b></b>操作规则</h3>
                <p class="text-left">
                    下面的条款和前面所述的条款均适用于本网站上的论坛，讨论组，聊天组，公告板和任何在网站上发生有相互影响作用区域的行为。网上用户使用、进入或参与上述区域或网站上的任何其他具相互影响作用区域，则表示同意所有这些条款。本网站不能也没有甄别所有网站用户提供的内容。但本网站保留对本网站上内容的监控权，并对本网站认为具有危害性，引起争议性的或违反本操作规则的其他内容进行删除的权利。为了提供满足本网站用户需求的高价值信息的服务，并避免本网站用户遭受因对他人权利的不实、恶意攻击或其他有害陈述而引起的损失，本网站有必要建立下列操作规则以避免本网站之被滥用，当您使用本网站服务时，您不可以：
                </p>
                <ul style="list-style: none">
                    <li>1）粘贴或传播任何非法的，具威胁性的，诽谤性的，贬损的，报复的、亵渎的或任何其他法律禁止的信息，包括但不限于传播任何煽动性鼓励犯罪的，或违反公民义务或任何其他违反地方法规、国家法律、法规或国际法律、惯例或公约的内容；</li>
                    <li>2）粘贴或传播任何散布任何他人的私人事件，粘贴或传播带有病毒，或任何带有贬损或损害性特征的内容；</li>
                    <li>3）粘贴或传播任何可能侵害其他人财`产权利的数据、图形或程序，包括以非法形式使用未经注册的版权文本、图形或程序，商业秘密及其他保密信息、 商标、服务标识等；</li>
                    <li>4）以任何形式干扰本网站的其他用户。</li>
                </ul>

            </div>
            <div class="col-md-12 feature" style="margin-top:30px">
                <h3><b></b>适用法律</h3>
                <p class="text-left">
                    app365.com由应用365网络科技有限公司运营和控制，适用中华人民共和国法律。我们保留随时更改我们的网站和上述免责及条款的权利。
                </p>
            </div>

        </div>
    </div>
</div>
<!-- 内容 End -->
<hr>
<%include include/footer.html %>
</body>
</html>