<div class="footer footer--light">
    <div class="container">
        <div class="row">
            <div class="col-md-3 menu">
                <h3>内容导航</h3>
                <ul>
                    <li>
                        <a href="../productinfo.html">产品说明</a>
                    </li>
                    <li>
                        <a href="../applications.html">移动应用</a>
                    </li>
                    <li>
                        <a href="../product_question.html">产品问答</a>
                    </li>
                    <li>
                        <a href="../plugin_tool.html">插件工具</a>
                    </li>
                    <li>
                        <a href="../open_api.html">Open API</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 menu">
                <h3>关于我们</h3>
                <ul>
                    <li>
                        <a href="../about_us.html">公司简介</a>
                    </li>
                    <li>
                        <a href="../recruit.html">诚聘英才</a>
                        <!--<a href="aboutus.html" class="hiring">
                            We're hiring!
                        </a>-->
                    </li>
                    <li>
                        <a href="../cooperate.html">代理分销</a>
                    </li>
                    <li>
                        <a href="../index.html#link">友情链接</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 menu">
                <h3>业务咨询</h3>
                <ul>
                    <li>
                        <a href="http://wpa.qq.com/msgrd?v=3&uin=981472612&site=qq&menu=yes">QQ交谈</a>
                    </li>
                    <li>
                        <a href="###">全国统一服务热线：</br>0755-29169423</a>
                    </li>
                    <li>
                        <a href="../cust_message.html">请您留言</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4" style="height: auto;">
                <div class="col-md-12 text-center"style="height: auto;">
                    <a href="###" style="color: #666666;">
                        <img class="text-center" src="/images/app365/wechat_app365.jpg" style="height: 110px;width:110px;">
                        </br><p class="text-center" style="font-size: 15px;font-weight: bold">欢迎关注微信公众号</p>
                    </a>
                </div>
                <div class="col-md-12 text-center"style="padding-top: 10px">
                    <a href="###" style="color: #666666;font-size: 14px">
                        0755-29169423
                    </a>
                    </br>
                    <a href="###" style="color: #666666;font-size: 14px">
                        sales@join56.cn
                    </a>
                    </br>
                    <a href="###" style="color: #666666;font-size: 14px">
                        粤ICP备12058528号
                    </a>
                </div>
            </div>
        </div>
        <div class="credits">
            <p>深圳市应用三六五网络科技有限公司版权所有 © 2012-2018</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5fde3fa63e820dbf775ba6583dcdb282' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    var _mvq = _mvq || [];
    _mvq.push(['$setAccount', 'm-237771-0']);
    _mvq.push(['$logConversion']);
    (function() {
        var mvl = document.createElement('script');
        mvl.type = 'text/javascript'; mvl.async = true;
        mvl.src = ('https:' == document.location.protocol ? 'https://static-ssl.mediav.com/mvl.js' : 'http://static.mediav.com/mvl.js');
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(mvl, s);
    })();
</script>
