<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>APP365 聚物流 - 智能物流 移动互联</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords" content="物流SaaS,物流管理SaaS,物流管理云平台,物流管理,物流管理软件,物流软件,物流系统,物流管理系统,仓储管理,仓配一体,物流全过程管理,运输管理系统,配送管理软件,仓库管理系统,专线,第三方物流,快运快递,快递,加盟平台,供应链管理,供应链协同,智能物流,物流APP,聚物流,APP365,TMS,WMS">
<meta name="description" content="APP365物流管理云平台，面向物流管理而开发，集成了运输和仓储管理，功能强大、操作简便、实施迅速、好用实惠，明显地提高物流企业的运营效率和管理水平，提升企业的竞争力。">

<link rel="shortcut icon" href="/images/favicon-app365.ico">

<!-- stylesheets -->
<link rel="stylesheet" type="text/css" href="/scss/bootstrap/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/dist/theme.min.css" />

<!-- javascript -->
<script src="/dist/theme.min.js"></script>

<!--[if lt IE 9]>
<script src="/libs/html5shiv/html5shiv.min.js"></script>
<![endif]-->

<script src="/libs/plugins/jquery.jcarousel.min.js"></script>