<!-- bof 顶部导航菜单 -->
<div class="navbar navbar-light navbar-expand-lg" role="banner">
    <div class="container">
        <a class="navbar-brand" href="../index.html">
            <img src="/images/logo-app365.png" height="70" width="130" class="mr-2 img-fluid" />
        </a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
            <ul class="navbar-nav">
                <!--
                <li class="nav-item active dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Home Pages
                    <i class="ion-chevron-down"></i>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="index.html">Home 1 (Current)</a>
                    <a class="dropdown-item" href="index2.html">Home 2 (Slider)</a>
                    <a class="dropdown-item" href="index3.html">Home 3 (Off-canvas menu)</a>
                  </div>
                </li>
                -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        产品中心
                        <i class="ion-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="../three_party.html">三方物流</a>
                        <a class="dropdown-item" href="../express_delivery.html">快运快递</a>
                        <a class="dropdown-item" href="../special_line_freight.html">专线货运</a>
                        <a class="dropdown-item" href="../warehouse_management.html">仓储管理</a>
                        <a class="dropdown-item" href="../integration.html">仓配一体化</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        移动应用
                        <i class="ion-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="../applications.html#ems">站点版</a>
                        <a class="dropdown-item" href="../applications.html#driver">司机版</a>
                        <a class="dropdown-item" href="../applications.html#cust">客户版</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="../support.html" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        服务支持
                        <i class="ion-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="../product_question.html">产品问答</a>
                        <a class="dropdown-item" href="../docs/product_manuals_start.html">产品手册（三方）</a>
                        <a class="dropdown-item" href="../plugin_tool.html">插件工具</a>
                        <a class="dropdown-item" href="../cust_message.html">客户留言</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="../cooperate.html" class="nav-link">合作共赢</a>
                </li>
                <li class="nav-item">
                    <a href="../recruit.html" class="nav-link">诚聘英才</a>
                </li>
                <li class="nav-item">
                    <a href="../about_us.html" class="nav-link">关于我们</a>
                </li>
                <li class="nav-item">
                    <a target="myblank" class="nav-link nav-link--rounded" href="http://idp.app365.com/m/core.User/Signup">免费试用</a>
                </li>
                <li class="nav-item">
                    <a target="myblank" class="nav-link nav-link--rounded" href="http://biz.app365.com" style="margin-left:10px;">登录</a>
                </li>
            </ul>
        </div>
    </div>
</div> <!-- eof 顶部导航菜单 -->